<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h5>Edit User Password</h5>
        <button type="button" class="close pull-right col-md-offset-7" (click)="hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form novalidate class="col-md-12">
            <div class="col-md-12">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="editUserPassword-userName">
                User Name
              </label>
              <input type="text" [(ngModel)]="model.userName" name="userName" placeholder="User Name"
                     class="form-control" id="editUserPassword-userName"
                     readonly="readonly" style="cursor: pointer;">
            </div>
            <div class="col-md-12">
              <label style="margin-top: 5px; margin-bottom: 1px;" data-error="wrong" data-success="right" for="editUserPassword-password">
                User password (Min password length = 6 chars)
                <span style="color: red">*</span>
              </label>
              <input type="password" [(ngModel)]="model.password" name="password" class="form-control"
                     placeholder="P@ssw0rd" id="editUserPassword-password">
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="app-modal-footer">
          <button type="button" class="btn btn-default" (click)="hide()">Close</button>
          <button type="button" (click)="updateUserPassword()" class="btn btn-primary" [disabled]="!model.password">
            Update User Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
