<div class="full-page loginWrapper">
    <div class="content">
        <div class="container">
            <div class="col-md-4 col-sm-6 col-md-offset-4 mr-auto">
                <form role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="col-md-12">
                    <mdl-spinner [active]="showLoading" class="text-center"></mdl-spinner>

                    <div class="card card-login">
                        <div class="card-header ">
                            <h3 class="header text-center">Login</h3>
                        </div>
                        <div class="card-body ">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" placeholder="User Name" class="form-control" name="username" [(ngModel)]="model.userName" required>
                                    <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div> -->
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel">
                                    <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-wd">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>