.btn-danger {
    border: 1px solid #FB404B;
    color: #FFFFFF;
    background-color: #FB404B;
    cursor: pointer;
}

    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .open > .btn-danger.dropdown-toggle {
        background-color: #ca3d45;
        color: #FFFFFF;
        border-color: #ca3d45;
    }

    .btn-danger.disabled,
    .btn-danger.disabled:hover,
    .btn-danger.disabled:focus,
    .btn-danger.disabled.focus,
    .btn-danger.disabled:active,
    .btn-danger.disabled.active,
    .btn-danger:disabled,
    .btn-danger:disabled:hover,
    .btn-danger:disabled:focus,
    .btn-danger:disabled.focus,
    .btn-danger:disabled:active,
    .btn-danger:disabled.active,
    .btn-danger[disabled],
    .btn-danger[disabled]:hover,
    .btn-danger[disabled]:focus,
    .btn-danger[disabled].focus,
    .btn-danger[disabled]:active,
    .btn-danger[disabled].active,
    fieldset[disabled] .btn-danger,
    fieldset[disabled] .btn-danger:hover,
    fieldset[disabled] .btn-danger:focus,
    fieldset[disabled] .btn-danger.focus,
    fieldset[disabled] .btn-danger:active,
    fieldset[disabled] .btn-danger.active {
        background-color: transparent;
        border-color: #FB404B;
    }

    .btn-danger.btn-outline {
        color: #FB404B;
        background-color: transparent;
        border: 1px solid #FB404B;
        opacity: 1;
        filter: alpha(opacity=100);
    }

        .btn-danger.btn-outline:hover,
        .btn-danger.btn-outline:focus,
        .btn-danger.btn-outline:active,
        .btn-danger.btn-outline.active,
        .open > .btn-danger.btn-outline.dropdown-toggle {
            background-color: #fa1825;
            color: #FFFFFF;
            border: 1px solid #fa1825;
        }

        .btn-danger.btn-outline .caret {
            border-top-color: #FFFFFF;
        }

    .btn-danger.btn-link {
        border-color: transparent !important;
        background-color: transparent !important;
        color: #888888;
    }

        .btn-danger.btn-link:hover,
        .btn-danger.btn-link:focus,
        .btn-danger.btn-link:active {
            text-decoration: none;
            border-color: transparent;
            color: #797979;
        }

    .btn-danger .caret {
        border-top-color: #FB404B;
    }
