<div class="row">
    <h6>{{title}}</h6>
</div>

<div class="row">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
        <div class="col-md-12">
            <label data-error="wrong" data-success="right" for="serviceType-serviceTypeName_EN">
                Name
                <span style="color: red">*</span>
            </label>
            <input type="text" id="serviceType-serviceTypeName_EN" [(ngModel)]="model.nameEn" name="serviceTypeName_EN"
                   class="form-control">
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="serviceType-serviceTypeName_AR">
                الاسم
                <span style="color: red">*</span>
            </label>
            <input type="text" id="serviceType-serviceTypeName_AR" [(ngModel)]="model.nameAr" name="serviceTypeName_AR"
                   class="form-control">
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="serviceType-period">
                Period (In hours). Normal hours this service be completed in.
                <span style="color: red">*</span>
            </label>
            <input type="number" id="serviceType-period" [(ngModel)]="model.period" name="period" class="form-control">
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="app-modal-footer">
        {{model.maintenanceType}}
        <button type="button" class="btn btn-default" (click)="closeButtonClick()">Close</button>
        <button type="button" (click)="saveServiceType()" class="btn btn-primary" [disabled]="!model.nameEn || !model.nameAr || !model.period">{{btnSaveText}}</button>
    </div>
</div>