<div class="main-content">
    <div class="container-fluid">
        <h4 class="title">Job Card Reports</h4>

        <div class="row card">
            <div class="container-fluid" style="margin:1%">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="customer_Type">Customer name</label>
                        <select [(ngModel)]="custType" name="customer_Type" id="customer_Type" class="form-control">
                            <option value="All">-- All --</option>
                            <option value="KCRM"> KCRM</option>
                            <option value="KCC"> KCC</option>
                            <option value="STERLING"> STERLING General Trading & Contracting Co.</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="startDate">
                            Start date
                        </label>
                        <input [matDatepicker]="mypicker" (click)="mypicker.open()" style="cursor: pointer;"
                               class="form-control col-md-11" placeholder="dd-mm-yyyy" name="startDate"
                               [(ngModel)]="dateIn" required id="startDate">
                        <mat-datepicker #mypicker></mat-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="endDate">
                            End date
                        </label>
                        <input [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" style="cursor: pointer;"
                               class="form-control col-md-11" placeholder="dd-mm-yyyy" name="endDate"
                               [(ngModel)]="dateOut" required id="endDate">
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="txtJobCardId">Job Card Id</label>
                        <input type="number" [(ngModel)]="jobCardId" name="txtJobCardId" id="txtJobCardId" class="form-control" maxlength="10" />
                    </div>
                </div>
                <div class="col-md-12">
                    <!--<div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="ddlJobCardStatus">Service type</label>
                        <select [(ngModel)]="serviceTypeId" name="ddlServiceType" id="ddlServiceType" class="form-control">
                            <option value="0">-- All --</option>
                            <option *ngFor="let item of serviceTypes" [ngValue]="item.id">{{item.nameEn}}</option>
                        </select>
                    </div>-->
                    <div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="ddlJobCardStatus">Job card status</label>
                        <select [(ngModel)]="jobCardStatusId" name="ddlJobCardStatus" id="ddlJobCardStatus" class="form-control">
                            <option [ngValue]="0"> -- All --</option>
                            <option *ngFor="let item of jobCardStatuses" [ngValue]="item.id">{{item.nameEn}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="txtVehiclePlateNo">Vehicle plate no.</label>
                        <input [(ngModel)]="vehiclePlateNo" name="txtVehiclePlateNo" id="txtVehiclePlateNo" class="form-control" maxlength="50" />
                    </div>
                    <div class="col-md-3">
                        <label data-error="wrong" data-success="right" for="txtVehicleFleetNo">Vehicle fleet no.</label>
                        <input [(ngModel)]="vehicleFleetNo" name="txtVehicleFleetNo" id="txtVehicleFleetNo" class="form-control" maxlength="50" />
                    </div>
                </div>
            </div>
        </div>
        <!-- [Mohammed.Osman]
            <app-job-card-repair-request-search-criteria [showServiceTypes]="false" [showSpareParts]="false">
            </app-job-card-repair-request-search-criteria>-->

        <div class="row">
            <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                <span class="fa fa-eraser"></span> Clear
            </button>

            <button type="submit" class="btn btn-default" (click)="searchJobCards()" style="margin: 10px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </button>

            <button class="btn btn-default" (click)="printJobCardsListReport()" style="margin: 10px;">
                <span class="fa fa-print"></span> Print job cards list
            </button>
        </div>
        <div id="print-section" *ngIf="jobCards?.length > 0">
            <!-- Job cards -->
            <div class="row">
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
                <div class="col-md-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead thead-dark>
                                    <tr>
                                        <th>Job Card Id</th>
                                        <th>Description</th>
                                        <th>Date In</th>
                                        <th>Date Out</th>
                                        <th>Vehicle ID</th>
                                        <th>Plate number</th>
                                        <th>Fleet Number</th>
                                        <th>Driver Name</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of jobCards">
                                        <td>{{item.id}}</td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.dateIn.toLocaleString() |date:'dd/MM/yyyy HH:mm'}}</td>
                                        <td>{{item.dateOut.toLocaleString() |date:'dd/MM/yyyy HH:mm'}}</td>
                                        <td>{{item.vehicleId}}</td>
                                        <td>{{item.vehicle?.plateNumber}}</td>
                                        <td>{{item.vehicle?.fleetNumber}}</td>
                                        <td>{{item.driver?.fullName}}</td>
                                        <td>{{item.jobCardStatus?.nameEn}}</td>
                                        <td>
                                            <a href="javascript:void(0);" (click)="printJobCardReport(item.id)"><span>Print</span></a> /
                                            <a [routerLink]="['../details', item.id]"><span>View</span></a> /
                                            <a [routerLink]="['../details', item.vehicle.id, item.id]"><span>Edit</span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>Total Rows = {{this.jobCards.length}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <b *ngIf="showNoDataFoundLabel">No job cards found.</b>
    </div>
</div>