<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h6 style="margin-left:-35px">Add Repair Request</h6>
        <button type="button" class="close pull-right col-md-offset-7" (click)="hide()" aria-label="Close" style="margin-right:-35px">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>

      <div class="modal-body">
        <div class="row">
          <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
            <div class="col-md-12">
              <label data-error="wrong" data-success="right" for="external">
                RR Place
                <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
              </label>
              <select [(ngModel)]="model.external" name="external" id="external" class="form-control" required>
                <option value="false"> Internal </option>
                <option value="true"> OSP </option>
              </select>
            </div>
            <div class="col-md-12">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="repairRequestTypeId">
                Type
                <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
              </label>
              <select [(ngModel)]="model.repairRequestTypeId" name="repairRequestTypeId" id="repairRequestTypeId" class="form-control">
                <option *ngFor="let x of repairRequestTypes" [ngValue]="x.id">{{x.nameEn}}</option>
              </select>
            </div>
            <div class="col-md-12">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="serviceTypeId">
                Service Type
                <span style="color:red;font-size:20px;font-weight:800;">*</span>
              </label>
              <select [(ngModel)]="model.serviceTypeId" name="serviceTypeId" id="serviceTypeId" class="form-control">
                <option *ngFor="let x of serviceTypes" [ngValue]="x.id">{{x.nameEn}}</option>
              </select>
            </div>

            <div class="col-md-12">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="duration">
                Duration (In hours)
                <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
              </label>
              <input type="number" id="duration" [(ngModel)]="model.duration" name="duration" class="form-control" required>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-default" (click)="hide()">Close</button>
          <button type="button" (click)="saveRepairRequest()" class="btn btn-primary"
                  [disabled]="!model.repairRequestTypeId || !model.serviceTypeId || !model.duration|| !model.external">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

