<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form>
                            <div class="container-fluid">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color: black; text-transform: capitalize;"> <b> Spare Part Name:</b> </label>
                                        <label class="form-control"> {{model?.sparePart?.nameEn}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color: black; text-transform: capitalize;"> <b> Start Date: </b></label>
                                        <label class="form-control"> {{model?.technicianStartDate |date:'dd/M/yyyy'}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;"> <b> End Date: </b> </label>
                                        <label class="form-control"> {{model?.technicianEndDate |date:'dd/M/yyyy'}} </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;"> <b> Amount:</b> </label>
                                        <label class="form-control"> {{model?.amount}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:black; text-transform: capitalize;"> <b> Technician: </b> </label>
                                        <label class="form-control"> {{model?.technician?.fullName}} </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" (click)="delete()">Reject</button>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a [routerLink]="['../../list']">Back</a>
                                </div>
                                <div class="col-md-1 pull-right">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-twitter" (click)="approve()">Approve</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

