<div class="col-md-12">
  <div class="card" *ngIf="repairRequestMaterials?.length != 0">
    <div class="table-responsive">
      <table class="table table-hover table-striped ">
        <thead thead-dark>
        <tr>
          <th hidden>Id</th>
          <th>S.P ID</th>
          <th>S.P Serial No</th>
          <th>Spare Part Name</th>
          <th>Qty</th>
          <th *ngIf="currentUserIsManager()">Total Cost</th>
          <th>Technician</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of repairRequestMaterials">
          <td hidden>{{item.id}}</td>
          <td>{{item.sparePartId}}</td>
          <td>{{item.sparePart?.serialNumber}}</td>
          <td>{{item.sparePart?.nameEn}}</td>
          <td>{{item.quantity}}</td>
          <td *ngIf="currentUserIsManager()">{{item.cost}}</td>
          <td>{{item.technician?.fullName}}</td>
          <td>{{item.sparePartStatus?.nameEn}}</td>
          <td>
            <a *ngIf="allowEdit && currentUserIsManager() && !isCollapsedMaterials" href="javascript:void(0)"
               (click)="openEditModeRepairRequestMaterial(item)"><span>Edit</span></a> /
            <a *ngIf="allowEdit && currentUserIsManager() && !isCollapsedMaterials" href="javascript:void(0)"
               (click)="deleteRepairRequestMaterial(item.id)"><span>Delete</span></a>
          </td>
        </tr>
        </tbody>
        <p *ngIf="repairRequestMaterials?.length == 0">No materials used found for this repair request.</p>
      </table>
    </div>
  </div>

</div>
