<div class="row">
  <h6>{{title}}</h6>
</div>
<div class="row">
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="damageMemoRef">
      Memo Ref.
      <span style="color: red">*</span>
    </label>
    <input type="text" maxlength="50" id="damageMemoRef" [(ngModel)]="model.damageMemoRef" name="damageMemoRef" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="vehicleFleetNo">
      Vehicle Fleet No
      <span style="color: red">*</span>
    </label>
    <input type="text" maxlength="20" id="vehicleFleetNo" [(ngModel)]="model.vehicleFleetNo" name="vehicleFleetNo" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="technicianId">
      Technician
      <span style="color: red">*</span>
    </label>
    <select [(ngModel)]="model.technicianId" id="technicianId" class="form-control"
            (change)="ddlTechniciansChanged()">
      <option value="0">-- Select --</option>
      <option *ngFor="let item of technicians" [ngValue]="item.id">{{item.fullName}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="driverId">
      Driver
      <span style="color: red">*</span>
    </label>
    <select [(ngModel)]="model.driverId" id="driverId" class="form-control"
            (change)="ddlDriversChanged()">
      <option value="0">-- Select --</option>
      <option *ngFor="let item of drivers" [ngValue]="item.id">{{item.fullName}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="foremanName">
      Foreman Name
      <span style="color: red">*</span>
    </label>
    <input type="text" maxlength="50" id="foremanName" [(ngModel)]="model.foremanName" name="foremanName" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="sparePart1Name">
      Spare Part # 1
      <span style="color: red">*</span>
    </label>
    <input type="text" maxlength="100" id="sparePart1Name" [(ngModel)]="model.sparePart1Name" name="sparePart1Name" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="sparePart2Name">
      Spare Part # 2
    </label>
    <input type="text" maxlength="100" id="sparePart2Name" [(ngModel)]="model.sparePart2Name" name="sparePart2Name" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="sparePart3Name">
      Spare Part # 3
    </label>
    <input type="text" maxlength="100" id="sparePart3Name" [(ngModel)]="model.sparePart3Name" name="sparePart3Name" class="form-control">
  </div>
</div>

<div class="modal-footer" style="margin-top:2%;">
  <div>
    <label>
      Note: Employee is either a technician or a driver.
    </label>
  </div>
  <div>
    <button type="button" class="btn btn-default" (click)="closeButtonClick()">Close</button>
    <button type="button" (click)="saveDamageMemo()" class="btn btn-primary"
            [disabled]="!model.damageMemoRef || !model.vehicleFleetNo || !model.foremanName || !model.sparePart1Name">
      {{btnTitle}}
    </button>
  </div>
</div>
