<div class="card">
  <div class="content">
    <form>
      <div class="row">
        <div class="col-sm-12">

          <a *ngIf="allowEdit && !isCollapsedMaterials" class="col-md-offset-6 pull-right"
             (click)="openAddModeRepairRequestMaterial();"
             [attr.aria-expanded]="!isCollapsedMaterials" aria-controls="collapseExample">
            <i class="pe-7s-plus"></i> Add Lubricants
          </a>
        </div>
        <div class="row" [ngbCollapse]="!isCollapsedMaterials">
          <h6>{{lblAddEditRequestMaterialText}}</h6>
          <form name="form" (ngSubmit)="f.form.valid" #f="ngForm"
                novalidate class="col-md-12">
            <div class="col-md-12">
              <div class="col-md-4">
                <label data-error="wrong" data-success="right" for="sparePartId">
                  Spare Part<span *ngIf="editModeMaterial"> ID = {{modelMaterial.sparePartId}}, Serial = {{modelMaterial.sparePart?.serialNumber}}</span>
                </label>
                <select [(ngModel)]="modelMaterial.sparePartId"
                        [disabled]="editModeMaterial" style="cursor: pointer;"
                        name="sparePartId" id="sparePartId" class="form-control">
                  <option *ngFor="let x of spareParts" [ngValue]="x.id">{{x.nameEn}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label data-error="wrong" data-success="right">
                  Quantity
                  <span style="color: red;">*</span>
                </label>
                <input type="number" class="form-control" name="quantity"
                       [(ngModel)]="modelMaterial.quantity">
              </div>
              <div class="col-md-4" *ngIf="currentUserIsManager()">
                <label data-error="wrong" data-success="right" for="cost">
                  Total Cost<span style="color: red;">*</span>
                </label>
                <input type="number" id="cost" [(ngModel)]="modelMaterial.cost"
                       name="cost" class="form-control" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <label data-error="wrong" data-success="right" for="sparePartStatusId">
                  Status
                  <span style="color: red;">*</span>
                </label>
                <select [(ngModel)]="modelMaterial.sparePartStatusId"
                        name="SparePartStatusId" id="sparePartStatusId"
                        class="form-control" required>
                  <option *ngFor="let x of sparePartStatuses" [ngValue]="x.id">{{x.nameEn}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label data-error="wrong" data-success="right" for="technicianId">
                  Technician
                  <span style="color: red;">*</span>
                </label>
                <select [(ngModel)]="modelMaterial.technicianId"
                        name="technicianId" id="technicianId" class="form-control"
                        required>
                  <option *ngFor="let x of technicians" [ngValue]="x.id">{{x.fullName}}</option>
                </select>
              </div>


            </div>
          </form>
          <div class="col-md-offset-6 pull-right">
            <button type="button" class="btn btn-default" (click)="isCollapsedMaterials = !isCollapsedMaterials">Close</button>
            <button type="button" (click)="saveRepairRequestMaterial();"
                    class="btn btn-primary" [disabled]="!modelMaterial.technicianId || !modelMaterial.sparePartStatusId">
              {{btnAddUpdateRequestMaterialText}}
            </button>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card" *ngIf="repairRequestMaterials?.length != 0">
            <div class="table-responsive">
              <table class="table table-hover table-striped ">
                <thead thead-dark>
                  <tr>
                    <th hidden>Id</th>
                    <th>S.P ID</th>
                    <th>S.P Serial No</th>
                    <th>Spare Part Name</th>
                    <th>Qty</th>
                    <th *ngIf="currentUserIsManager()">Total Cost</th>
                    <th>Technician</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of repairRequestMaterials">
                    <td hidden>{{item.id}}</td>
                    <td>{{item.sparePartId}}</td>
                    <td>{{item.sparePart?.serialNumber}}</td>
                    <td>{{item.sparePart?.nameEn}}</td>
                    <td>{{item.quantity}}</td>
                    <td *ngIf="currentUserIsManager()">{{item.cost}}</td>
                    <td>{{item.technician?.fullName}}</td>
                    <td>{{item.sparePartStatus?.nameEn}}</td>
                    <td>
                      <a *ngIf="showEditButton()" href="javascript:void(0)"
                         (click)="openEditModeRepairRequestMaterial(item)"><span>Edit</span></a>
                      <span *ngIf="showEditButton() && showDeleteButton()"> / </span>
                      <a *ngIf="showDeleteButton()" href="javascript:void(0)"
                         (click)="deleteRepairRequestMaterial(item.id)"><span>Delete</span></a>
                    </td>
                  </tr>
                </tbody>
                <p *ngIf="repairRequestMaterials?.length == 0">No materials used found for this repair request.</p>
              </table>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
