h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

mdl-spinner {
    text-align: center !important;
    align-content: center;
    margin-left: 40%
}

.card-content {
    margin: 2%
}

.card-content label {
    margin-left: 5px;
}