.modal-content {
  overflow-y: scroll;
  height: 600px;
}

.modal .modal-content .modal-header {
  border-bottom: none !important;
  padding-top: 24px !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0px !important;
}
