<div class="main-content">
  <div class="container-fluid">
    <div class="container-fluid">
      <div>
        <h4 class="title">Daily Service Report</h4>
      </div>
      <div class="card">
        <div class="col-md-12" style="padding: 15px;">
          <div class="col-md-3 form-inline">

            <label class="title" for="txtVehiclePlateNo">Vehicle plate no.</label>

            <input [(ngModel)]="dailyServiceSearchParams.vehiclePlateNo" name="txtVehiclePlateNo"
                   id="txtVehiclePlateNo" class="form-control" maxlength="50" />

          </div>
          <div class="col-md-4 form-inline">
            <label class="title">From date:</label>

            <input [matDatepicker]="datepicker1" class="form-control col-md-11" placeholder="dd-mm-yyyy"
                   name="startDate" [(ngModel)]="dailyServiceSearchParams.startDate" (focus)="datepicker1.open()"
                   (click)="datepicker1.open()" readonly style="cursor: pointer;">
            <mat-datepicker #datepicker1></mat-datepicker>
          </div>
          <div class="col-md-4 form-inline">
            <label class="title">To date:</label>

            <input [matDatepicker]="datepicker2" class="form-control col-md-11" placeholder="dd-mm-yyyy"
                   name="endDate" [(ngModel)]="dailyServiceSearchParams.endDate" (focus)="datepicker2.open()"
                   (click)="datepicker2.open()" readonly style="cursor: pointer;">
            <mat-datepicker #datepicker2></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <!--<button type="submit" class="btn btn-default" (click)="searchJobCards()" style="margin: 10px;">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search
        </button>-->
        <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
          <span class="fa fa-eraser"></span> Clear
        </button>

        <button class="btn btn-default" (click)="print()" style="margin: 10px;">
          <span class="fa fa-print"></span> Print
        </button>
      </div>
    </div>
    <div id="print-section" *ngIf="arrDailyReceipt.length > 0 || arrDailyBrought.length > 0">
      <table class="table" style="margin-bottom: 0;">
        <tr>
          <td>
            <label class="col-md-9 pull-left" style="margin-top: 5%; margin-left: -22px;">Date: {{today |date:'dd/M/yyyy'}}</label>
          </td>
          <td>
            <a class="pull-right">
              <img src="assets/img/vmcLogo.png" width="160px" class="img-responsive" alt="">
            </a>
          </td>
        </tr>
      </table>

      <!-- Work Description -->
      <div class="row">
        <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
        <div class="col-md-12" *ngIf="arrDailyReceipt.length > 0">
          <h5>Daily Receipt</h5>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Job Card Id</th>
                  <th>Job Card Date In</th>
                  <th>Vehicle Plate No</th>
                  <th>Vehicle Fleet No</th>
                  <th>Customer Name</th>
                  <th style="width: 20%">Job Description</th>
                  <th style="width: 20%">Remarks</th>
                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let item of arrDailyReceipt;let i=index">
                  <td>{{item.sr}}</td>
                  <td>{{item.id}}</td>
                  <td>{{item.date_In|date:'dd/MM/yyyy'}}</td>
                  <td>{{item.vehicle.plateNumber}}</td>
                  <td>{{item.vehicle.fleetNumber}}</td>
                  <td>{{item.customer_Type}}</td>
                  <td>{{item.serviceTypeName}}</td>
                  <td>{{item.comment}}</td>
                </tr>
              </tbody>
            </table>
            <b *ngIf="arrDailyReceipt.length === 0">No daily receipt items found.</b>
          </div>
        </div>
        <div class="col-md-12" style="margin-top: 3%" *ngIf="arrDailyBrought.length > 0">
          <h5>Brought Forward</h5>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Job Card Id</th>
                  <th>Job Card Date In</th>
                  <th>Vehicle Plate No</th>
                  <th>Vehicle Fleet No</th>
                  <th>Customer name</th>
                  <th style="width: 20%">Job Description</th>
                  <th style="width: 20%">Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of arrDailyBrought;let i=index">
                  <td>{{item.sr}}</td>
                  <td>{{item.id}}</td>
                  <td>{{item.date_In|date:'dd/MM/yyyy'}}</td>
                  <td>{{item.vehicle.plateNumber}}</td>
                  <td>{{item.vehicle.fleetNumber}}</td>
                  <td>{{item.customer_Type}}</td>
                  <td>{{item.serviceTypeName}}</td>
                  <td>{{item.comment}}</td>
                </tr>
              </tbody>
            </table>
            <b *ngIf="arrDailyBrought.length === 0">No daily brought items found.</b>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 3%">
        <div class="col-md-12">
          <p class="col-md-1">Marks:</p>
          <hr class="col-md-4" style="margin-top: 5px;">
        </div>
      </div>
    </div>
  </div>
</div>
