<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="title">Repair Requests</h4>
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <mat-tab-group class="demo-tab-group">
              <mat-tab label="Internal">
                <app-internal-schrepairrequest></app-internal-schrepairrequest>
              </mat-tab>
              <mat-tab label="OSP">
                <app-external-schrepairrequest></app-external-schrepairrequest>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
