<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <form (submit)=searchTechnicians()>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                            <div class="input-group">
                                <input type="text" name="query" class="form-control" placeholder="Search by Name" [(ngModel)]="query">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" (click)="searchTechnicians()" type="button" style="height:40px;">Go!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead thead-dark>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Full Name</th>
                                    <th *ngIf="isManager()">Hour Rating</th>
                                    <th>Availability</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of technicians">
                                    <td hidden>{{item.id}}</td>
                                    <td>{{item.fullName}}</td>
                                    <td *ngIf="isManager()">{{item.hourRating}}</td>
                                    <td>
                                        <label style="color:black; text-transform: capitalize;">
                                            <input type="checkbox" id="choosed" name="optradio" [checked]="item.available" disabled>
                                            <b style="margin-left: 5px;">Available</b>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>