<div class="row">
    <div class="container">
        <h6 class="col-md-6">Add Job Card {{currentVehicle.customerName}}</h6>
    </div>
    <div class="container">
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">

            <app-vehicle-details2 [vehicleId]="data.vehicleId"></app-vehicle-details2>

            <div class="col-md-6">
                <label data-error="wrong" style="margin-top:5px; margin-bottom:1px;" data-success="right"
                       for="driverEmploye">
                    Driver
                </label>
                <select [(ngModel)]="model.driverId" name="driverEmployeeId" id="driverEmploye"
                        class="form-control">
                    <option *ngFor="let item of drivers" [ngValue]="item.id">
                        {{item.fullName}}
                    </option>
                </select>
            </div>
            <div class="col-md-6" *ngIf="currentVehicle.customerName !== 'KCRM'">
                <label data-error="wrong" style="margin-top:23px; margin-bottom:1px;" data-success="right">
                    Select file
                    <span style="color:red;">*</span>
                </label>
                <div data-provides="fileinput">
                    <app-file-uploader id="fileUploader" #fileUploader></app-file-uploader>
                </div>
            </div>
            <div class="col-md-6" *ngIf="currentVehicle.customerName === 'KCRM'">
                <label data-error="wrong" style="margin-top:23px; margin-bottom:1px;" data-success="right">
                    Select file
                </label>
                <div class="form-control">
                    <label>No files needed</label>
                </div>
            </div>
            <div class="col-md-6">
                <label data-error="wrong" style="margin-top:23px; margin-bottom:1px;" data-success="right"
                       for="dateIn">
                    Date In
                    <span style="color:red;">*</span>
                </label>
                <!--<input [matDatepicker]="datepicker1" class="form-control col-md-11" placeholder="dd-mm-yyyy"
                       name="date_In" [(ngModel)]="model.date_In" (focus)="datepicker1.open()"
                       (click)="datepicker1.open()" readonly style="cursor:pointer;">
                <mat-datepicker-toggle [for]="datepicker1"></mat-datepicker-toggle>
                <mat-datepicker #datepicker1></mat-datepicker>-->

                <input id="dateIn" [(ngModel)]="model.dateIn"
                       name="dateIn" class="form-control col-md-12"
                       [owlDateTimeTrigger]="datePicker1" [owlDateTime]="datePicker1"
                       required placeholder="dd-mm-yyyy" readonly="readonly" style="cursor:pointer;">
                <owl-date-time #datePicker1></owl-date-time>

            </div>
            <div class="col-md-6">
                <label data-error="wrong" style="margin-top:23px; margin-bottom:1px;" data-success="right"
                       for="dateOut">
                    Date Out
                    <span style="color:red;">*</span>
                </label>
                <!--<input [matDatepicker]="datepicker2" class="form-control col-md-11" placeholder="dd-mm-yyyy"
                       name="date_Out" [(ngModel)]="model.date_Out" [min]="model.date_In" (focus)="datepicker2.open()"
                       (click)="datepicker2.open()" readonly style="cursor:pointer;">
                <mat-datepicker-toggle [for]="datepicker2"></mat-datepicker-toggle>
                <mat-datepicker #datepicker2></mat-datepicker>-->

                <input id="dateOut" [(ngModel)]="model.dateOut" [min]="model.dateIn"
                       name="dateOut" class="form-control col-md-12"
                       [owlDateTimeTrigger]="datePicker2" [owlDateTime]="datePicker2"
                       required placeholder="dd-mm-yyyy" readonly="readonly" style="cursor:pointer;">
                <owl-date-time #datePicker2></owl-date-time>
            </div>

            <div class="col-md-6">
                <label style="margin-top:23px; margin-bottom:1px;" data-error="wrong" data-success="right"
                       for="hourmeter">
                    Hour meter
                </label>
                <input type="number" id="hourmeter" [(ngModel)]="model.hourmeter" name="hourmeter"
                       class="form-control" min="1">
            </div>
            <div class="col-md-6">
                <label style="margin-top:23px; margin-bottom:1px;" data-error="wrong" data-success="right"
                       for="odometer">
                    Odometer
                </label>
                <input type="number" id="odometer" [(ngModel)]="model.odometer" name="odometer" class="form-control"
                       onkeydown="javascript: return event.keyCode !== 69;">
            </div>

            <div class="col-md-12">
                <label style="margin-top:23px; margin-bottom:1px;" data-error="wrong" data-success="right"
                       for="desc">Description</label>
                <textarea rows="2" id="desc" [(ngModel)]="model.description" name="description" class="form-control">
                                </textarea>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="app-modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Close</button>
        <button type="button" (click)="saveJobCard()" class="btn btn-primary">Add Job Card</button>
    </div>
</div>