<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h6>Edit Technician</h6>
        <button type="button" class="close pull-right col-md-offset-8" (click)="hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
            <div class="col-md-6">
              <label data-error="wrong" data-success="right" for="technician-firstName">
                First Name
                <span style="color: red">*</span>
              </label>
              <input type="text" id="technician-firstName" [(ngModel)]="model.firstName" name="firstName" class="form-control validate">
            </div>
            <div class="col-md-6">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-lastName">
                Last Name
                <span style="color: red">*</span>
              </label>
              <input type="text" id="technician-lastName" [(ngModel)]="model.lastName" name="lastName" class="form-control validate">
            </div>
            <div class="col-md-12">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-address">
                Address
                <span style="color: red">*</span>
              </label>
              <input type="text" id="technician-address" [(ngModel)]="model.address" name="address" class="form-control validate">
            </div>
            <div class="col-md-6">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-civilIdNo">
                Civil ID No.
                <span style="color: red">*</span>
              </label>
              <input type="text" id="technician-civilIdNo" [(ngModel)]="model.civilIdNo" name="civilIdNo"
                     class="form-control" (keypress)="keyPress($event)" maxlength="20">
            </div>
            <div class="col-md-6">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-phoneNumber">
                Phone Number
                <span style="color: red">*</span>
              </label>
              <input type="text" id="technician-PhoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber"
                     class="form-control" (keypress)="keyPress($event)" maxlength="15">
            </div>
            <div class="col-md-6">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-hourRating">
                Hour Rating
                <span style="color: red">*</span>
              </label>
              <input type="number" id="technician-hourRating" [(ngModel)]="model.hourRating" name="hourRating" class="form-control validate">
            </div>
            <div class="col-md-6">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-Empolye_Id">
                Employee Id
                <span style="color: red">*</span>
              </label>
              <input type="text" id="technician-EmployeeId" [(ngModel)]="model.employeeId" name="employeeId" class="form-control validate">
            </div>
            <div class="col-md-6">
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-specialty">
                Specialty
                <span style="color: red">*</span>
              </label>
              <input type="text" id="technician-specialty" [(ngModel)]="model.specialty" name="specialty" class="form-control validate">
            </div>
            <div class="col-md-6">
              <input id="driver-available" type="checkbox" [(ngModel)]="model.available" name="available" [checked]="model.available" />
              <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="driver-available">Available</label>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-default" (click)="hide()">Close</button>
          <button type="button" (click)="updateTechnician()" class="btn btn-primary" [disabled]="!model.firstName || !model.lastName || !model.address || !model.phoneNumber || !model.employeeId || !model.specialty">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
