<div class="main-content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div>
                <h4 class="title">Technicians Work Report</h4>
            </div>
            <div class="card">
                <div class="col-md-12" style="padding: 15px;">
                    <div class="col-md-4 form-inline">

                        <label class="title" for="ddlTechnician">Technician: </label>

                        <select [(ngModel)]="searchParams.technicianId" name="ddlTechnician"
                                id="ddlTechnician" class="form-control col-md-6">
                            <option value="0">-- All --</option>
                            <option *ngFor="let item of technicians" [value]="item.id">{{item.fullName}}</option>
                        </select>

                    </div>
                    <div class="col-md-4 form-inline">
                        <label class="title">Tech. Start From date: </label>

                        <input [matDatepicker]="datepicker1" class="form-control col-md-6" placeholder="dd-mm-yyyy"
                               name="startDate" [(ngModel)]="searchParams.startDate" (focus)="datepicker1.open()"
                               (click)="datepicker1.open()" readonly style="cursor: pointer;">
                        <mat-datepicker #datepicker1></mat-datepicker>
                    </div>
                    <div class="col-md-4 form-inline">
                        <label class="title">Tech. End To date: </label>

                        <input [matDatepicker]="datepicker2" class="form-control col-md-6" placeholder="dd-mm-yyyy"
                               name="endDate" [(ngModel)]="searchParams.endDate" (focus)="datepicker2.open()"
                               (click)="datepicker2.open()" readonly style="cursor: pointer;">
                        <mat-datepicker #datepicker2></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">

                <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                    <span class="fa fa-eraser"></span> Clear
                </button>
                <button type="submit" class="btn btn-default" (click)="searchTechniciansWork()" style="margin: 10px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search
                </button>
                <button class="btn btn-default" (click)="printTechnicianWorkReport()" style="margin: 10px;">
                    <span class="fa fa-print"></span> Print
                </button>
            </div>
        </div>
        <div id="print-section" *ngIf="arrTechniciansWorkReport.length > 0">
            <div class="row">
                <mdl-spinner [active]="showLoading" class="text-center"></mdl-spinner>
                <div class="col-md-12" *ngIf="arrTechniciansWorkReport.length > 0">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Repair Request Id</th>
                                    <th>Technician Employee Id</th>
                                    <th>Technician Name</th>
                                    <th>Technician Start Date</th>
                                    <th>Technician End Date</th>
                                    <th>Duration (Hours)</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arrTechniciansWorkReport;let i=index">
                                    <td>{{item.repairRequestId}}</td>
                                    <td>{{item.technician?.employeeId}}</td>
                                    <td>{{item.technician?.fullName}}</td>
                                    <td>{{item.technicianStartDate|date:'dd/MM/yyyy hh:mm aa'}}</td>
                                    <td>{{item.technicianEndDate|date:'dd/MM/yyyy hh:mm aa'}}</td>
                                    <td>{{item.technicianWorkHours}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <b *ngIf="arrTechniciansWorkReport.length === 0">No daily receipt items found.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>