﻿label {
    display: inline-block;
    margin-bottom: .5rem;
}

.col-md-12 {
    width: 100%;
    float: left;
}

.form-group {
    margin-bottom: 1rem;
}

.text-center {
    text-align: center !important;
}

.col-md-6 {
    width: 50%;
}

.col-md-offset-3 {
    margin-left: 25%;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
}

div {
    display: block;
}

.alert-info {
    background: #555 !important;
}

    .alert-info span {
        color: #fff !important;
    }

.table-bordered {
    border: 1px solid #a3a4a5 !important;
}

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #797979 !important;
    }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;
}

tr th {
    font-weight: 600 !important;
}

h5 {
    font-weight: 600 !important;
}

.table-bordered > thead > tr > th {
    background: #555 !important;
    color: #fff !important;
}

hr {
    border-top: 1px solid #000 !important;
    margin-top: -20px !important;
}

tr td hr {
    margin-top: 10px !important;
}

input::-webkit-input-placeholder {
    display: inline;
}

* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
}
