<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="title">Pending Spare Parts of Repair Requests</h4>
      <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
      <div class="col-md-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-hover table-striped ">
              <thead thead-dark>
                <tr>
                  <th hidden>ID</th>
                  <th>Job Card ID</th>
                  <th>Repair Request ID</th>
                  <th>Spare Part</th>
                  <th>Quantity</th>
                  <th>Total Cost</th>
                  <th>Technician</th>
                  <th>Tech. Start Date</th>
                  <th>Tech. End Date</th>
                  <th>Details</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of repairRequestSpareParts">
                  <td hidden>{{item.id}}</td>
                  <td>
                    <a [routerLink]="['../../../../job-cards/details/', item.vehicleId, item.jobCardId]">
                      {{item.jobCardId}}
                    </a>
                  </td>
                  <td>
                    <a href="javascript::void(0);"
                       (click)="modalRepairRequestDetailsTabs.showDialog(item.vehicleId, item.jobCardId, item.id, false);">
                      {{item.repairRequestId}}
                    </a>
                  </td>
                  <td>{{item.sparePart?.nameEn}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.amount}}</td>
                  <td>{{item.technician?.fullName}}</td>
                  <td>{{item.technicianStartDate | date:"dd/M/yyyy"}}</td>
                  <td>{{item.technicianEndDate | date:"dd/M/yyyy"}}</td>
                  <td><a [routerLink]="['../details', item.id]"><span>Details</span></a></td>
                  <td>
                    <a href="javascript:void(0)" (click)="approve(item);"><span>Approve</span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-repair-request-details-tabs #modalRepairRequestDetailsTabs></app-repair-request-details-tabs>
