<div class="row">
    <h6>Add Role</h6>
</div>
<div class="row">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
        <div class="col-md-12">
            <label data-error="wrong" data-success="right" for="name">
                Name
                <span style="color: red">*</span>
            </label>
            <input type="text" id="name" [(ngModel)]="model.name" name="name" class="form-control">
        </div>
    </form>
</div>

<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-default" (click)="onNoClick()">Close</button>
        <button type="button" (click)="saveRole()" class="btn btn-primary" [disabled]="!model.name">Add Role</button>
    </div>
</div>
