﻿<div class="row">
    <h6>Add repair request status</h6>
    <!--<button type="button" class="close pull-right col-md-offset-5" (click)="closeDialog()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>-->
</div>

<div class="row">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
        <div class="col-md-12">
            <label data-error="wrong" data-success="right" for="repair-request-status-name-en">
                Name <span style="color: red">*</span>
            </label>
            <input type="text" id="repair-request-status-name-en" [(ngModel)]="model.nameEn"
                   name="repair-request-status-name-en" class="form-control" maxlength="100">
        </div>
        <div class="col-md-12">
            <label style="margin-top: 5px; margin-bottom: 1px;" data-error="wrong" data-success="right" for="repair-request-status-name-ar">
                الاسم<span style="color: red">*</span>
            </label>
            <input type="text" id="repair-request-status-name-ar" [(ngModel)]="model.nameAr"
                   name="repair-request-status-name-ar" class="form-control" maxlength="100">
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="closeDialog()">Close</button>
        <button type="button" (click)="saveRepairRequestStatus()" class="btn btn-primary"
                [disabled]="!model.nameEn || !model.nameAr">
            Add
        </button>
    </div>
</div>
