<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%; width: 700px; margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content container-fluid">
            <div class="modal-body">
                <div class="row">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="color:black; text-transform: capitalize;">
                                    <b> Add quotation file: </b>
                                </label>
                                <div>
                                    <table class="table table-hover table-striped">
                                        <thead thead-dark>
                                            <tr>
                                                <th hidden>Id</th>
                                                <th>Vendor ID</th>
                                                <th>Vendor Name</th>
                                                <th>Files</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of repairRequestVendors">
                                                <td hidden>{{item.id}}</td>
                                                <td>{{item.vendorId}}</td>
                                                <td>{{item.vendor?.name}}</td>
                                                <td>
                                                    <table>
                                                        <tr *ngFor="let file of item.files">
                                                            <td>
                                                                <a href="{{file.fileUrl}}" target="_blank">
                                                                    <p style="font-family: Arial, Helvetica, sans-serif; font-variant: normal; font-style: normal; text-decoration: underline;">{{file.fileName}}</p>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a class="close" (click)="deleteFile(file.id)" aria-hidden="true">X</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" *ngIf="item.files == 0" (click)="deleteRepairRequestVendor(item.id)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="files">
                                Attachments
                            </label>
                            <div class="card">
                                <label style="margin-top:5px; margin-bottom:1px; margin-left:5px" data-error="wrong" data-success="right">
                                    Files:
                                </label>
                                <div style="margin:5px;" data-provides="fileinput">
                                    <span class="btn btn-default form-control form-control-sm">
                                        <app-file-uploader #fileUploader (uploadingComplete)="uploadingFilesComplete()"></app-file-uploader>
                                    </span>
                                    <span></span>
                                </div>
                                <div style="margin:5px;">
                                    <label style="margin-top:5px; margin-bottom:1px; margin-left:5px" data-error="wrong" data-success="right">
                                        Vendor Name:
                                    </label>
                                    <select [(ngModel)]="vendorId" name="vendorId" id="vendorId" class="form-control form-control-sm">
                                        <option *ngFor="let item of vendors" [ngValue]="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="saveAttachments()" class="btn btn-primary" [disabled]="!vendorId">
                        Add Attachment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>