<div class="row">
    <h6 class="title col-md-4">{{title}}</h6>

    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
        <div class="col-md-4" id="Fortype">
            <label data-error="wrong" data-success="right" for="ddlVehicleType">
                Vehicle Type <span style="color:red;">*</span>
            </label>
            <select id="ddlVehicleType" [(ngModel)]="model.vehicleTypeId" name="type" class="form-control"
                    required>
                <option *ngFor="let x of vehicleTypes" [value]="x.id" [selected]="x.id == model.vehicleTypeId">{{x.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label data-error="wrong" data-success="right" for="vehicle-year">
                Year
            </label>
            <input type="number" id="vehicle-year" [(ngModel)]="model.year" name="year" class="form-control" maxlength="4" min="1900" max="3000">
        </div>
        <div class="col-md-4">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-make">
                Manufacture
            </label>
            <input type="text" id="vehicle-make" [(ngModel)]="model.make" name="make" class="form-control">
        </div>
        <div class="col-md-4">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-model">
                Model <span style="color: red">*</span>
            </label>
            <input type="text" id="vehicle-model" [(ngModel)]="model.model" name="model" class="form-control">
        </div>
        <div class="col-md-4">
            <label data-error="wrong" style="margin-top:2px;" data-success="right" for="customerName">
                Customer Name
                <span style="color:red;">*</span>
            </label>
            <select [(ngModel)]="model.customerName" name="customerName" id="customerName" class="form-control">
                <option value="KCRM"> KCRM</option>
                <option value="KCC"> KCC</option>
                <option value="STERLING"> STERLING General Trading & Contracting Co.</option>
            </select>
        </div>
        <div class="col-md-4" id="ForColor">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-color">
                Color
            </label>
            <input type="color" id="vehicle-color" [(ngModel)]="model.color" name="color" class="form-control">
        </div>
        <div class="col-md-4" id="ForKiloMeters">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-kiloMeters">
                Kilo Meters
            </label>
            <input type="number" id="vehicle-kiloMeters" [(ngModel)]="model.kiloMeters" name="kiloMeters"
                   class="form-control">
        </div>
        <div class="col-md-4" id="ForplateNumber">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-plateNumber">
                Plate Number <span style="color: red">*</span>
            </label>
            <input type="text" id="vehicle-plateNumber" [(ngModel)]="model.plateNumber" name="plateNumber"
                   class="form-control">
        </div>
        <div class="col-md-4">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-fleetNumber">
                Fleet Number <span style="color: red">*</span>
            </label>
            <input type="text" id="vehicle-fleetNumber" [(ngModel)]="model.fleetNumber" name="fleetNumber"
                   class="form-control">
        </div>
        <div class="col-md-4" id="ForVIN">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-VIN">
                VIN
            </label>
            <input type="text" id="vehicle-VIN" [(ngModel)]="model.vin" name="VIN" class="form-control">
        </div>
        <div class="col-md-4" id="ForChassisNumber">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-fleetNumber">
                Chassis Number<span style="color: red">*</span>
            </label>
            <input type="text" id="vehicle-chassisNumber" [(ngModel)]="model.chassisNumber" name="chassisNumber"
                   class="form-control">
        </div>
        <div class="col-md-4" id="odometer">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-odometer">
                Odometer
            </label>
            <input type="number" id="vehicle-odometer" [(ngModel)]="model.odometer" name="odometer" class="form-control">
        </div>
        <div class="col-md-4">
            <label style="margin-top:2px;" data-error="wrong" data-success="right">
                Purchase Date
            </label>
            <input [matDatepicker]="myDatepicker" class="form-control col-md-11" placeholder="dd-mm-yyyy"
                   name="purchaseDate" [(ngModel)]="model.purchaseDate" required (focus)="myDatepicker.open()"
                   (click)="myDatepicker.open()">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </div>

        <div class="col-md-4" id="ForworkIdleTime">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-workIdleTime">
                Work Idle Time
            </label>
            <input type="text" id="vehicle-workIdleTime" [(ngModel)]="model.workIdleTime" name="workIdleTime"
                   class="form-control">
        </div>
        <div class="col-md-4" id="ForStatus">
            <label data-error="wrong" model.type-success="right" for="status">
                Status
            </label>
            <select [(ngModel)]="model.status" name="status" id="status" class="form-control"
                    required>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Damaged">Damaged</option>
                <option value="Lost">Lost</option>
            </select>
        </div>
        <div class="col-md-4" id="ForFuelConsumption">
            <label style="margin-top: 2px;" data-error="wrong" data-success="right" for="vehicle-fuelConsumption">
                Fuel Consumption
            </label>
            <input type="number" min="1" id="vehicle-fuelConsumption" [(ngModel)]="model.fuelConsumption" name="fuelConsumption" class="form-control">
        </div>
        <div class="col-md-6" id="FortoolDescription">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-toolDescription">
                Description
            </label>
            <textarea id="vehicle-toolDescription" [(ngModel)]="model.description" name="toolDescription"
                      rows="2" class="form-control"></textarea>
        </div>

        <div class="col-md-6" id="Forremarks">
            <label style="margin-top:2px;" data-error="wrong" data-success="right" for="vehicle-remarks">
                Remarks
            </label>
            <textarea id="vehicle-remarks" [(ngModel)]="model.remarks" name="remarks" rows="2" class="form-control"></textarea>
        </div>

    </form>
</div>
<div class="app-modal-footer" style="margin-top:4%">
    <button type="button" class="btn btn-default" (click)="dialogRef.close()">Close</button>
    <button type="button" (click)="saveVehicle()" class="btn btn-primary">{{btnTitle}}</button>
</div>
