<div class="row">
  <h6>{{title}}</h6>
</div>
<div class="row">
  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">

    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="name_EN">
        Name
        <span style="color: red">*</span>
      </label>
      <input type="text" id="name_EN" [(ngModel)]="model.nameEn" name="name_EN" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="nameAr">
        الاسم
        <span style="color: red">*</span>
      </label>
      <input type="text" id="nameAr" [(ngModel)]="model.nameAr" name="nameAr" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="serialNumber">
        Serial Number (Segment)
        <span style="color: red">*</span>
      </label>
      <input type="number" id="serialNumber" [(ngModel)]="model.serialNumber" name="serialNumber" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="category">
        Category
      </label>
      <input type="text" id="category" [(ngModel)]="model.category" name="category" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="make">
        Factory
        <span style="color: red">*</span>
      </label>
      <input type="text" id="make" [(ngModel)]="model.make" name="make" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="model">
        Model
        <span style="color: red">*</span>
      </label>
      <input type="text" id="model" [(ngModel)]="model.model" name="model" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="unit">
        Unit
        <span style="color: red">*</span>
      </label>
      <input type="text" id="unit" [(ngModel)]="model.unit" name="unit" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="case_AR">
        الحالة
        <span style="color: red">*</span>
      </label>
      <input type="text" id="case_AR" [(ngModel)]="model.caseAr" name="case_AR" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="case_EN">
        Case
        <span style="color: red">*</span>
      </label>
      <input type="text" id="case_EN" [(ngModel)]="model.caseEn" name="case_EN" class="form-control">
    </div>
    <div class="col-md-6">
      <label data-error="wrong" data-success="right" for="case_EN">
        Description
      </label>
      <textarea rows="2" [(ngModel)]="model.description" name="description" class="form-control"></textarea>
    </div>
    <div class="col-md-12" style="margin-top:5px;margin-bottom:1px;">
      <label>
        <input type="checkbox" [(ngModel)]="model.needApprove" name="needApprove" [checked]="model.needApprove" />
        Need Approve. (The manager should approve this spare part if exists in any repair request)
      </label>
    </div>
  </form>
</div>

<div class="modal-footer" style="margin-top:2%;">
  <div>
    <button type="button" class="btn btn-default" (click)="closeButtonClick()">Close</button>
    <button type="button" (click)="saveSparePart()" class="btn btn-primary"
            [disabled]="!model.nameAr || !model.nameEn || !model.serialNumber || !model.make || !model.model ||
                            !model.unit || !model.caseAr || !model.caseEn">
      {{btnTitle}}
    </button>
  </div>
</div>
