<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="title">Technicians</h4>
      <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
      <div class="col-md-12">
        <div class="card">
          <div class="col-md-12">
            <form (submit)=searchTechnicians()>
              <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                <div class="input-group">
                  <input type="text" name="query" class="form-control" placeholder="Search by Name" [(ngModel)]="query">
                  <span class="input-group-btn">
                    <button class="btn btn-default" (click)="searchTechnicians()" type="button" style="height: 40px;">Go!</button>
                  </span>
                </div>
              </div>
            </form>
            <div class="col-md-5 pull-right">
              <a href="" (click)="openAddTec()" style="margin-right: 10px; margin-top: 10px;" class="btn btn-default pull-right mb-4"
                 data-toggle="modal" data-target="#modalNewTechnicianForm">Add New</a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-striped ">
              <thead thead-dark>
              <tr>
                <th hidden>ID</th>
                <th>Full Name</th>
                <th>Civil ID No</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Specialty</th>
                <th>Employee ID</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of technicians">
                <td hidden>{{item.id}}</td>
                <td>{{item.firstName}} {{item.lastName}}</td>
                <td>{{item.civilIdNo}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.address}}</td>
                <td>{{item.specialty}}</td>
                <td>{{item.employeeId}}</td>
                <td>
                  <a href="javascript:void(0)" (click)="modalTechnicianEdit.shows(item)">
                    <span>
                      Edit
                    </span>
                  </a>
                  <span>/</span>
                  <a href="javascript:void(0)" (click)="deleteTechnician(item.id)">
                    <span>
                      Delete
                    </span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-technician-edit #modalTechnicianEdit (dialogClosed)="getTechnicians()"></app-technician-edit>
