<div class="sidebar" data-image="assets/img/sidebar-5.jpg">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a [routerLink]="['dashboard']" class="simple-text logo-normal">
        Vehicle Maintenance
      </a>
    </div>
    <div class="user">
      <div class="photo">
        <img src="../../assets/img/Login/avatar.png" alt="" />
      </div>
      <div class="info ">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
          <span>
            {{userName}}
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['account/profile/edit']">
                <i class="pe-7s-angle-right"></i>
                <p>My Profile</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li *ngIf="showDashboardMenu()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['dashboard']">
          <i class="fa fa-pie-chart"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <li *ngIf="showVehiclesMenu()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['vehicles/list']">
          <i class="fa fa-bus"></i>
          <p>Vehicles</p>
        </a>
      </li>

      <!--<li *ngIf="showRepairRequestsMenu()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['repair-requests/list']">
          <i class="fa fa-bus"></i>
          <p>Repair Requests</p>
        </a>
      </li>-->

      <li class="nav-item" *ngIf="showApproveMenu()" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['repair-requests/pending/list']">
          <i class="fa fa-share"></i>
          <p>Pending Repair Requests</p>
        </a>
      </li>
      <li class="nav-item" *ngIf="showApproveMenu()" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['repair-requests/spare-parts/pending/list']">
          <i class="fa fa-bullhorn"></i>
          <p>Pending Request Spare Parts</p>
        </a>
      </li>

      <li class="nav-item" *ngIf="showDeliverSparePartsMenu()" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['repair-requests/spare-parts/delivery-order/new']">
          <i class="fa fa-bullhorn"></i>
          <p>Deliver spare parts</p>
        </a>
      </li>

      <li class="nav-item" *ngIf="showDeliverSparePartsMenu()" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['repair-requests/spare-parts/delivery-order/list']">
          <i class="fa fa-bullhorn"></i>
          <p>Search delivery orders</p>
        </a>
      </li>

      <li *ngIf="showReportsMenu()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
          <i class="fa fa-line-chart"></i>
          <p>
            Reports
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="mapsExamples">
          <ul class="nav">
            <li class="nav-item" *ngFor="let menuItem of reportsMenuItems" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="pe-7s-angle-right"></i>
                <p>{{menuItem.title}}</p>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" *ngIf="showSettingsMenu()" [routerLinkActive]="['active']">
        <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
          <i class="fa fa-cogs"></i>
          <p>
            Settings
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples">
          <ul class="nav">
            <li class="nav-item" *ngFor="let subMenuItem of settingsMenuItems" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="[subMenuItem.path]">
                <i class="pe-7s-angle-right"></i>
                <p>{{subMenuItem.title}}</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
