<div class="main-content">
    <div class="container-fluid">
        <h4 class="title">Search for un completed delivered quantities of spare parts for repair requests</h4>
        <div class="row card" style="margin-bottom: 10px;">
            <div class="container-fluid" style="margin:1%">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label data-error="wrong" data-success="right" for="startDate">
                            Start date
                        </label>
                        <input [matDatepicker]="mypicker" (click)="mypicker.open()" style="cursor: pointer;"
                               class="form-control col-md-11" placeholder="dd-mm-yyyy" name="startDate"
                               [(ngModel)]="searchParams.startDate" required id="startDate">
                        <mat-datepicker #mypicker></mat-datepicker>
                    </div>
                    <div class="col-md-4">
                        <label data-error="wrong" data-success="right" for="endDate">
                            End date
                        </label>
                        <input [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" style="cursor: pointer;"
                               class="form-control col-md-11" placeholder="dd-mm-yyyy" name="endDate"
                               [(ngModel)]="searchParams.endDate" required id="endDate">
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </div>
                    <div class="col-md-4">
                        <label data-error="wrong" data-success="right" for="txtJobCardId">Job Card Id</label>
                        <input type="number" [(ngModel)]="searchParams.jobCardId" name="txtJobCardId" id="txtJobCardId" class="form-control" maxlength="10" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 pull-left">
                    <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                        <span class="fa fa-eraser"></span> Clear
                    </button>

                    <button class="btn btn-default col-md-offset-8" (click)="printEmptyMaterialRequisitionReport()" style="margin: 10px;">
                        <span class="fa fa-print"></span> Print blank material requisition report
                    </button>

                    <button type="submit" class="btn btn-default" (click)="searchJobCardsUnDeliveredQty()" style="margin: 10px;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="title">New delivery order</h4>
        </div>

        <div class="container-fluid">
            <div class="col-md-4">
                <label for="txtRequestedBy">Requested by:</label>
                <input type="text" [(ngModel)]="deliveryOrderRequestedBy" name="txtRequestedBy" id="txtRequestedBy" class="form-control" maxlength="50" />
            </div>
            <div class="col-md-offset-8">
                <button type="submit" class="btn btn-default" (click)="saveDeliveryOrder()" style="margin: 10px;">
                    <i class="fa fa-save" aria-hidden="true"></i>
                    Save
                </button>

                <button class="btn btn-default" *ngIf="deliveryOrderId !== 0" (click)="printDeliveryOrderReport()" style="margin: 10px;">
                    <span class="fa fa-print"></span> Print delivery order # {{deliveryOrderId}}
                </button>
            </div>
        </div>
        <div id="print-section" *ngIf="sparePartsToDeliver?.length > 0">
            <!-- Job cards -->
            <div class="row">
                <mdl-spinner [active]="showLoading" class="text-center"></mdl-spinner>
                <div class="col-md-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead thead-dark>
                                    <tr>
                                        <th hidden>Id</th>
                                        <th>Job Card Id</th>
                                        <th>Repair Request Id</th>
                                        <th>Spare Part Id</th>
                                        <th>Spare Part Serial</th>
                                        <th>Spare Part Name</th>
                                        <th>Delivered Qty</th>
                                        <th>Qty</th>
                                        <th>Remaining Qty</th>
                                        <th>Qty to deliver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of sparePartsToDeliver">
                                        <td hidden>{{item.id}}</td>
                                        <td>{{item.repairRequest.jobCardId}}</td>
                                        <td>{{item.repairRequest.id}}</td>
                                        <td>{{item.sparePart?.id}}</td>
                                        <td>{{item.sparePart?.serialNumber}}</td>
                                        <td>{{item.sparePart?.nameEn}}</td>
                                        <td>{{item.deliveredQuantity}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.quantity - item.deliveredQuantity}}</td>
                                        <td>
                                            <input type="number" [(ngModel)]="item.quantityToDeliver" width="50">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>Total Rows = {{this.sparePartsToDeliver.length}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <b *ngIf="showNoDataFoundLabel">No undelivered spare parts of job cards found.</b>
    </div>
</div>