<div class="content">
    <div class="container-fluid">
        <div>
            <div>
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header">
                                    <h4 class="card-title">My Profile</h4>
                                </div>
                            </div>
                            <div class="card-body" style="padding:3%;">
                                <form novalidate class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:black; text-transform: capitalize;">
                                                    <b> User Name </b>
                                                </label>
                                                <input type="text" class="form-control" [(ngModel)]="model.userName"
                                                       readonly="readonly" name="userName" style="cursor: pointer;">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:black; text-transform: capitalize;">
                                                    <b> Email address </b>
                                                </label>
                                                <input type="email" name="email" [(ngModel)]="model.email"
                                                       class="form-control" readonly="readonly" style="cursor: pointer;">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:black; text-transform: capitalize;">
                                                    <b> First Name </b>
                                                </label>
                                                <input type="text" class="form-control" [(ngModel)]="model.firstName"
                                                       name="firstName" placeholder="First Name" style="cursor: pointer;"
                                                       readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:black; text-transform: capitalize;">
                                                    <b>Last Name </b>
                                                </label>
                                                <input type="text" class="form-control" name="lastName"
                                                       [(ngModel)]="model.lastName" placeholder="Last Name"
                                                       readonly="readonly" style="cursor: pointer;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:black; text-transform: capitalize;">
                                                    <b>Phone</b>
                                                </label>
                                                <input type="text" class="form-control" name="phoneNumber"
                                                       [(ngModel)]="model.phoneNumber" placeholder="Phone"
                                                       maxlength="15" readonly="readonly"
                                                       style="cursor: pointer;">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:black; text-transform: capitalize;">
                                                    <b>Role</b>
                                                </label>
                                                <input type="text" class="form-control" name="roleName"
                                                       [value]="userRole" readonly="readonly" style="cursor: pointer;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <a href="javascript:void(0)" (click)="modalEditUserPassword.show(model)">
                                                    <span>
                                                        Edit Password
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="card-header no-padding">
                                <div class="card-image">
                                    <img src="assets/img/full-screen-image-3.jpg" alt="...">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="#">
                                        <img alt="..." class="avatar border-gray" src="assets/img/Login/avatar.png">

                                        <h4 class="title">
                                            {{model.userName}}
                                            <br>
                                            <small>{{userRole}}</small>
                                        </h4>
                                    </a>

                                </div>
                                <p class="card-description text-center">
                                    Hey there! As you can see,<br> it is already looking great.
                                </p>
                            </div>
                            <div class="card-footer">
                                <hr>
                                <div class="button-container text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-user-change-password #modalEditUserPassword></app-user-change-password>