<div class="row card">
    <div class="container-fluid" style="margin:1%">
        <div class="col-md-12">
            <div class="col-md-3" *ngIf="showCustomerName">
                <label data-error="wrong" data-success="right" for="customerName">Customer name</label>
                <select [(ngModel)]="searchParams.customerName" name="customerName" id="customerName" class="form-control">
                    <option value="0">-- All --</option>
                    <option value="KCRM"> KCRM</option>
                    <option value="KCC"> KCC</option>
                    <option value="STERLING"> STERLING General Trading & Contracting Co.</option>
                </select>
            </div>
            <div class="col-md-3">
                <label data-error="wrong" data-success="right" for="startDate">
                    Job Card Start date
                </label>
                <input [matDatepicker]="startDatePicker" (click)="startDatePicker.open()" style="cursor: pointer;"
                       class="form-control col-md-11" placeholder="dd-mm-yyyy" name="startDate"
                       [(ngModel)]="searchParams.startDate" required id="startDate">
                <mat-datepicker #startDatePicker></mat-datepicker>
            </div>
            <div class="col-md-3">
                <label data-error="wrong" data-success="right" for="endDate">
                    Job Card End date
                </label>
                <input [matDatepicker]="endDatePicker" (click)="endDatePicker.open()" style="cursor: pointer;"
                       class="form-control col-md-11" placeholder="dd-mm-yyyy" name="endDate"
                       [(ngModel)]="searchParams.endDate" required id="endDate">
                <mat-datepicker #endDatePicker></mat-datepicker>
            </div>
            <div class="col-md-3">
                <label data-error="wrong" data-success="right" for="txtJobCardId">Job Card Id</label>
                <input type="number" [(ngModel)]="searchParams.jobCardId" name="txtJobCardId" id="txtJobCardId" class="form-control" maxlength="10" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3" *ngIf="showSpareParts">
                <label class="title">Spar Part:</label>
                <select [(ngModel)]="searchParams.sparePartId" name="ddlSpareParts" id="ddlSpareParts" class="form-control">
                    <option [ngValue]="0">-- All --</option>
                    <option *ngFor="let item of spareParts" [ngValue]="item.id">{{item.nameEn}}</option>
                </select>
            </div>
            <div class="col-md-3" *ngIf="showServiceTypes">
                <label data-error="wrong" data-success="right" for="ddlJobCardStatus">Service type</label>
                <select [(ngModel)]="searchParams.serviceTypeId" name="ddlServiceType" id="ddlServiceType" class="form-control">
                    <option value="0">-- All --</option>
                    <option *ngFor="let item of serviceTypes" [ngValue]="item.id">{{item.nameEn}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <label data-error="wrong" data-success="right" for="ddlJobCardStatus">Job card status</label>
                <select [(ngModel)]="searchParams.jobCardStatusId" name="ddlJobCardStatus" id="ddlJobCardStatus" class="form-control">
                    <option [ngValue]="0"> -- All --</option>
                    <option *ngFor="let item of jobCardStatuses" [ngValue]="item.id">{{item.nameEn}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <label data-error="wrong" data-success="right" for="txtVehiclePlateNo">Vehicle plate no.</label>
                <input [(ngModel)]="searchParams.vehiclePlateNo" name="txtVehiclePlateNo" id="txtVehiclePlateNo" class="form-control" maxlength="50"/>
            </div>
            <div class="col-md-3">
                <label data-error="wrong" data-success="right" for="txtVehicleFleetNo">Vehicle fleet no.</label>
                <input [(ngModel)]="searchParams.vehicleFleetNo" name="txtVehicleFleetNo" id="txtVehicleFleetNo" class="form-control" maxlength="50"/>
            </div>
        </div>
    </div>
</div>