h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

mdl-spinner {
    text-align: center !important;
    align-content: center;
    margin-left: 40%
}

button span {
    font-size: 10px;
    color: #000;
}

button:hover {
    text-decoration: none;
}

button:focus {
    text-decoration: none;
    border: none;
}

tr th {
    font-weight: 600;
    color: #8e8a8a;
}

.btn-link i {
    font-size: 22px;
}

.btn-link span {
    font-size: 13px;
}


.icon-bar {
    width: 100%;
    background-color: transparent;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 11%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #8e8a8a;
    font-size: 24px;
}

.icon-bar a span {
    font-size: 13px;
}


.icon-bar a:hover {
    background-color: #eee;
    border-radius: 3px;
}
