<div class="main-content">
    <div class="container-fluid">
        <h4 class="title">Vehicles</h4>
        <div class="row card">
            <div class="container-fluid" style="margin:1%">
                <div class="col-md-12">

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label data-error="wrong" data-success="right" for="txtVehiclePlateNo">Vehicle plate no.</label>
                            <input [(ngModel)]="vehiclesSearchParams.vehiclePlateNo" name="txtVehiclePlateNo" id="txtVehiclePlateNo" class="form-control" maxlength="50" />
                        </div>
                        <div class="col-md-3">
                            <label data-error="wrong" data-success="right" for="txtVehicleFleetNo">Vehicle fleet no.</label>
                            <input [(ngModel)]="vehiclesSearchParams.vehicleFleetNo" name="txtVehicleFleetNo" id="txtVehicleFleetNo" class="form-control" maxlength="50" />
                        </div>
                        <div class="col-md-3">
                            <label data-error="wrong" data-success="right" for="txtVehiclePlateNo">Vehicle model.</label>
                            <input [(ngModel)]="vehiclesSearchParams.model" name="txtVehicleModel" id="txtVehicleModel" class="form-control" maxlength="50" />
                        </div>
                        <div class="col-md-3">
                            <label data-error="wrong" data-success="right" for="ddlVehicleStatus">Vehicle status</label>
                            <select [(ngModel)]="vehiclesSearchParams.vehicleStatus" name="ddlVehicleStatus" id="ddlVehicleStatus" class="form-control">
                                <option value="0" disabled>Choose status of vehicle</option>
                                <option value="All">-- All --</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                                <option value="Damaged">Damaged</option>
                                <option value="Lost">Lost</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                <span class="fa fa-eraser"></span> Clear
            </button>
            <button type="submit" class="btn btn-default" (click)="searchVehicles()" style="margin: 10px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            </div>
            <div class="col-md-12">

                <div class="card">
                    <div class="col-md-12">
                        <div class="icon-bar">
                            <a *ngIf="selectedVehicle.status === 'Active'" class="active" (click)="validateAndOpenAddJobCardDialog(selectedVehicleId)">
                                <i class="fa fa-file"></i>
                                <br>
                                <span>New Job Card</span>
                            </a>
                            <a *ngIf="selectedVehicle.status === 'Active'" (click)="showAddRepairRequestDialog()">
                                <i class="fa fa-wrench"></i>
                                <br>
                                <span>New Repair Request</span>
                            </a>
                            <a *ngIf="selectedVehicle.status === 'Active'" (click)="openJobCardReport()">
                                <i class="fa fa-print"></i>
                                <br>
                                <span>Print Job Card</span>
                            </a>
                            <a *ngIf="currentUserIsManager()" (click)="openEditVehicle(selectedVehicle.id)">
                                <i class="fa fa-edit"></i>
                                <br>
                                <span>Edit Vehicle</span>
                            </a>
                            <a *ngIf="currentUserIsManager()" (click)="deleteVehicle(selectedVehicle.id)">
                                <i class="fa fa-times-circle"></i>
                                <br>
                                <span>Delete Vehicle</span>
                            </a>
                            <div class="pull-right" style="margin-top:10px;">
                                <button (click)="openAddVehicle()" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modalNewVehicleForm" style="margin: 5px;">
                                    <i class="fa fa-plus"></i>Add Vehicle
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead thead-dark>
                                <tr>
                                    <th>Select</th>
                                    <th>Vehicle Id</th>
                                    <th>Model</th>
                                    <th>Year</th>
                                    <th>Manufacture</th>
                                    <th>Type</th>
                                    <th>Color</th>
                                    <th>Kilo Meters</th>
                                    <th>VIN</th>
                                    <th>Plate Number </th>
                                    <th>Fleet Number</th>
                                    <th>Purchase Date</th>
                                    <th>Fuel Consumption</th>
                                    <th>Work Idle Time</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of vehicles; let i=index">
                                    <td>
                                        <span>
                                            <mat-radio-button value="selectedVehicleId" (change)="checkVehicle(item)"
                                                              (click)="getOpenJobCards(item.id);"></mat-radio-button>
                                        </span>
                                    </td>
                                    <td>{{item.id}}</td>
                                    <td>{{item.model}}</td>
                                    <td>{{item.year}}</td>
                                    <td>{{item.make}}</td>
                                    <td>{{item.vehicleType?.name}}</td>
                                    <td>
                                        <input type="color" [(ngModel)]="item.color" disabled>
                                    </td>
                                    <td>{{item.kiloMeters}}</td>
                                    <td>{{item.vin}}</td>
                                    <td>{{item.plateNumber}}</td>
                                    <td>{{item.fleetNumber}}</td>
                                    <td>{{ getDate(item.purchaseDate) | date:'dd-MM-yyyy'}}</td>
                                    <td>{{item.fuelConsumption}}</td>
                                    <td>{{item.workIdleTime}}</td>
                                    <td>{{item.status}}</td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="viewVehicle(item.id)">
                                            <span>Details</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <app-pagination [totalRecords]="vehiclePagination.totalRecords"
                                            [pageSize]="vehiclePagination.pageSize"
                                            (pageChanged)="pageChanged($event)"></app-pagination>

                            <div>Total vehicles displayed = {{vehicles.length}}</div>
                            <div>Total vehicles count = {{vehiclePagination.totalRecords}} vehicles.</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<app-repair-request-add2 #modelRepairRequest></app-repair-request-add2>

<div class="row" *ngIf="showModel">
    <div id="jobcardList" (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
         [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
        <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
            <div class="modal-content container-fluid">
                <div class="modal-header">
                    <h5 class="modal-title">Job Cards</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
                            <div class="col-md-12">
                                <label data-error="wrong" data-success="right">
                                    Active Job Card ID:
                                    <span style="color:red;font-size: 20px;font-weight: 800;">*</span>
                                </label>
                                <select [(ngModel)]="jobCardIdToAddRepairRequestTo" class="form-control"
                                        name="jobCardIdToAddRepairRequestTo">
                                    <option *ngFor="let item of openJobCards" [value]="item.id">
                                        {{ item.id }}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                        <button type="button" (click)="hide();modelRepairRequest.showDialog(jobCardIdToAddRepairRequestTo)" class="btn btn-primary"
                                [disabled]="!jobCardIdToAddRepairRequestTo">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
