<div class="main-content">
    <div class="container-fluid">
        <h4 class="title">Search delivery orders</h4>
        <div class="row card">
            <div class="container-fluid" style="margin:1%">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label data-error="wrong" data-success="right" for="startDate">
                            Start date
                        </label>
                        <input [matDatepicker]="mypicker" (click)="mypicker.open()" style="cursor: pointer;"
                               class="form-control col-md-11" placeholder="dd-mm-yyyy" name="startDate"
                               [(ngModel)]="searchParams.startDate" required id="startDate">
                        <mat-datepicker #mypicker></mat-datepicker>
                    </div>
                    <div class="col-md-4">
                        <label data-error="wrong" data-success="right" for="endDate">
                            End date
                        </label>
                        <input [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" style="cursor: pointer;"
                               class="form-control col-md-11" placeholder="dd-mm-yyyy" name="endDate"
                               [(ngModel)]="searchParams.endDate" required id="endDate">
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </div>
                    <div class="col-md-4">
                        <label data-error="wrong" data-success="right" for="txtDeliveryOrderId">Delivery Order Id</label>
                        <input type="number" [(ngModel)]="searchParams.deliveryOrderId" name="txtDeliveryOrderId" id="txtDeliveryOrderId" class="form-control" maxlength="10" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-default" (click)="clearSearch()" style="margin: 10px;">
                <span class="fa fa-eraser"></span> Clear
            </button>

            <button type="submit" class="btn btn-default" (click)="searchDeliveryOrders()" style="margin: 10px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </button>
        </div>

        <div id="print-section" *ngIf="deliveryOrders?.length > 0">
            <!-- Job cards -->
            <div class="row">
                <mdl-spinner [active]="showLoading" class="text-center"></mdl-spinner>
                <div class="col-md-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead thead-dark>
                                    <tr>
                                        <th>Delivery Order ID</th>
                                        <th>Requested By</th>
                                        <th>Creation Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of deliveryOrders">
                                        <td>{{item.id}}</td>
                                        <td>{{item.requestedBy}}</td>
                                        <td>{{item.creationDate | date: 'dd/MM/yyyy hh:mm aa'}}</td>
                                        <td>
                                            <button class="btn btn-default" (click)="printDeliveryOrderReport(item.id)" style="margin: 10px;">
                                                <span class="fa fa-print"></span> Print
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>Total Rows = {{this.deliveryOrders.length}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <b *ngIf="showNoDataFoundLabel">No delivery orders found.</b>

    </div>
</div>