<div class="row">
  <h6>{{title}}</h6>
</div>
<div class="row">
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="fixingDate">
      Fixing Date
      <span style="color: red">*</span>
    </label>
    <input id="fixingDate" [(ngModel)]="model.fixingDate"
           name="fixingDate" class="form-control col-md-12"
           [owlDateTimeTrigger]="datePicker1" [owlDateTime]="datePicker1"
           required placeholder="dd-mm-yyyy" readonly="readonly" style="cursor:pointer;">
    <owl-date-time #datePicker1></owl-date-time>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="vehicleFromFleetNo">
      Vehicle Fleet No To Remove From
      <span style="color: red">*</span>
    </label>
    <input type="text" maxlength="20" id="vehicleFromFleetNo" [(ngModel)]="model.vehicleFromFleetNo" name="vehicleFromFleetNo" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="vehicleFromRegnNo">
      Vehicle From Regn No
    </label>
    <input type="text" maxlength="50" id="vehicleFromRegnNo" [(ngModel)]="model.vehicleFromRegnNo" name="vehicleFromRegnNo" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="technicianRemovedById">
      Technician Removed By
      <span style="color: red">*</span>
    </label>
    <select [(ngModel)]="model.technicianRemovedById" id="technicianRemovedById"
            class="form-control">
      <option *ngFor="let item of technicians" [ngValue]="item.id">{{item.fullName}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="vehicleToFleetNo">
      Vehicle Fleet No To Fix
      <span style="color: red">*</span>
    </label>
    <input type="text" maxlength="20" id="vehicleToFleetNo" [(ngModel)]="model.vehicleToFleetNo" name="vehicleToFleetNo" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="vehicleToRegnNo">
      Vehicle To Regn No
    </label>
    <input type="text" maxlength="50" id="vehicleToRegnNo" [(ngModel)]="model.vehicleToRegnNo" name="vehicleToRegnNo" class="form-control">
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="technicianFixedById">
      Technician Fixed By
      <span style="color: red">*</span>
    </label>
    <select [(ngModel)]="model.technicianFixedById" id="technicianFixedById"
            class="form-control">
      <option *ngFor="let item of technicians" [ngValue]="item.id">{{item.fullName}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="supervisorComments">
      Supervisor Comments
    </label>
    <textarea rows="2" id="supervisorComments"
              [(ngModel)]="model.supervisorComments" name="supervisorComments" class="form-control"></textarea>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="refixingDate">
      Re-fixing Date
    </label>
    <input id="refixingDate" [(ngModel)]="model.refixingDate"
           name="fixingDate" class="form-control col-md-12"
           [owlDateTimeTrigger]="datePicker2" [owlDateTime]="datePicker2"
           required placeholder="dd-mm-yyyy" style="cursor:pointer;">
    <owl-date-time #datePicker2></owl-date-time>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="technicianRefixedById">
      Technician Re-fixed By
    </label>
    <select [(ngModel)]="model.technicianRefixedById" id="technicianRefixedById"
            class="form-control">
      <option value="0">-- All --</option>
      <option *ngFor="let item of technicians" [ngValue]="item.id">{{item.fullName}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label data-error="wrong" data-success="right" for="spareParts">
      Spare Parts
      <span style="color: red">*</span>
    </label>
    <select [(ngModel)]="currentSparePart" id="spareParts" class="form-control">
      <option *ngFor="let item of spareParts" [ngValue]="item">{{item.nameEn}}</option>
    </select>
    <a href="JavaScript:void(0)" (click)="addSparePartToCanniModel()">Add</a>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="table-responsive">
        <table *ngIf="model.cannibalizationSpareParts.length > 0" style="width: 100%">
          <thead thead-dark>
            <tr>
              <th>SP. ID</th>
              <th>SP Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cannSparePart of model.cannibalizationSpareParts, let i = index">
              <td>{{cannSparePart.sparePartId}}</td>
              <td>{{cannSparePart.sparePartName}}</td>
              <td>
                <a href="JavaScript:void(0)" (click)="deleteSparePartFromCanniModel(index)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer" style="margin-top:2%;">
  <div>
    <button type="button" class="btn btn-default" (click)="closeButtonClick()">Close</button>
    <button type="button" (click)="saveCannibalization()" class="btn btn-primary"
            [disabled]="!model.fixingDate ||
            !model.vehicleFromFleetNo || !model.technicianRemovedById ||
            !model.vehicleToFleetNo || !model.technicianFixedById">
      {{btnTitle}}
    </button>
  </div>
</div>
