<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Scheduled Job Card</h4>
            <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
            <div class="col-md-12">
                <div class="card">
                    <!--<div class="row">
                        <div class="col-sm-12">
                            <a href="" (click)="modal4.show()" style="margin-right:10px; margin-top:10px;" class="btn btn-default pull-right btn-rounded mb-4" data-toggle="modal" data-target="#modalNewJobCardForm">Add New Job Card</a>
                        </div>
                    </div>-->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped ">
                            <thead thead-dark>
                                <tr>
                                    <th>Id</th>
                                    <th>Customer name</th>
                                    <th>Date In</th>
                                    <th>Date Out</th>
                                    <th>Description</th>
                                    <th>Fleet Number</th>
                                    <th>Driver Name</th>
                                    <th>Status</th>
                                    <th>Service Type</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of jobCards">
                                    <td>{{item.id}}</td>
                                    <td>{{item.customer_Type}}</td>
                                    <td>{{item.date_In |date:'dd/M/yyyy'}}</td>
                                    <td>{{item.date_Out |date:'dd/M/yyyy'}}</td>
                                    <td>{{item.desc}}</td>
                                    <td>{{item.fleetNumber}}</td>
                                    <td>{{item.driverEmployeeId}}</td>
                                    <td>{{item.statusName}}</td>
                                    <td>{{item.serviceTypeName}}</td>
                                    <!-- <td ><a [routerLink]="['../jobcardDetails', item.id]" ><img src="/assets/img/document-info-32.png" style="margin-left:10px;"></a></td> -->
                                    <td><a [routerLink]="['../schjobcardDetails', item.id]"><span><u>Details</u></span></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
