<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <!-- <h4 class="title">Repair Requset</h4> -->
            <div class="col-md-12">
                <div class="card">
                   <!--  <div class="row">
                        <div class="col-sm-12">
                            <a href="" (click)="modal7.show()" style="margin-right:10px; margin-top:10px;" class="btn btn-default pull-right btn-rounded mb-4" data-toggle="modal" data-target="#modalNewrepairrequestForm">Add New Repair Request</a>
                        </div>
                    </div> -->
                    <div class="table-responsive">                        
                        <table class="table table-hover table-striped ">
                             <thead thead-dark>
                               <tr>
                                  <th >Id</th>
                                  <th >User Full Name</th>
                                  <th >Job Card Id</th>
                                  <th >Repair Request Type Name</th>
                                  <th >Repair Request Status Name</th>
                                  <th >Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of repairrequests">
                                    <td >{{item.id}}</td>
                                    <td >{{item.user_Name}}</td>
                                    <td >{{item.fK_JobCard_ID}}</td>
                                    <td >{{item.repairRequestType_Name}}</td>
                                    <td >{{item.repairRequestStatus_Name}}</td>
                                    <!--<td ><a [routerLink]="['../repairrequestdetails', item.id]" ><img src="/assets/img/document-info-32.png" style="margin-left:10px;"></a></td>-->
                                    <td ><a [routerLink]="['../internal_repairrequestdetails', item.id]" ><span><u>Details</u></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-addrepairrequest #modal7></app-addrepairrequest> -->