<div class="card card-user">
  <div class="card-header no-padding">
    <div class="card-image">
      <img src="assets/img/full-screen-image-3.jpg" alt="...">
    </div>
  </div>
  <div class="card-body" *ngIf="vehicleObj">
    <div class="author">
      <a href="#">
        <img class="avatar border-gray" src="assets/img/Truck.png" alt="...">
        <h5 class="card-title">{{vehicleObj.model}}, {{vehicleObj.make}}</h5>
      </a>
      <p class="card-description">
        {{vehicleObj.year}}
      </p>
    </div>
    <table class="table table-striped vehicleDetails">
      <tbody>
        <tr>
          <td>
            Vehicle ID: {{vehicleObj.id}}
          </td>
        </tr>
        <tr>
          <td>Customer Name: {{vehicleObj.customerName}}</td>
        </tr>
        <tr>
          <td>Plate No: {{vehicleObj.plateNumber}}</td>
        </tr>
        <tr>
          <td>Fleet No: {{vehicleObj.fleetNumber}}</td>
        </tr>
        <tr>
          <td>Chassis #: {{vehicleObj.chassisNumber}}</td>
        </tr>
        <tr>
          <td>Vehicle Type: {{vehicleObj.vehicleType?.nameEn}}</td>
        </tr>
        <tr>
          <td>
            Color:
            <input type="color" [(ngModel)]="vehicleObj.color" disabled="disabled">
          </td>
        </tr>
        <tr>
          <td>Kilo Meters: {{vehicleObj.kiloMeters}}</td>
        </tr>
        <tr>
          <td>Vin: {{vehicleObj.vin}}</td>
        </tr>
        <tr>
          <td>Odometer: {{vehicleObj.odometer}}</td>
        </tr>
        <tr>
          <td>Purchase Date: {{vehicleObj.purchaseDate |date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
