.modal .modal-content .modal-body {
    padding-right: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    padding-left: 20px !important;
    line-height: 1.4;
}

.modal-content {
    overflow-y: scroll;
    height: 600px;
}

.modal .modal-content .modal-body + .modal-footer {
    padding-top: 10px;
}
