<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="title">Pending Repair Requests</h4>
      <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>
      <div class="col-md-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-hover table-striped ">
              <thead thead-dark>
                <tr>
                  <th>Job Card ID</th>
                  <th>Rep. Req. ID</th>
                  <th>Service Type</th>
                  <th>Location</th>
                  <th>Request Type</th>
                  <th>Request Status</th>
                  <th>Duration</th>
                  <th>Created By</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of repairResquests">
                  <td>{{item.jobCardId}}</td>
                  <td>
                    <a href="javascript::void(0);"
                       (click)="modalRepairRequestDetailsTabs.showDialog(0, item.jobCardId, item.id, false);">
                      {{item.id}}
                    </a>
                  </td>
                  <td>{{item.serviceType?.nameEn}}</td>
                  <td>{{item.external? "OSP" : "Internal" }}</td>
                  <td>{{item.repairRequestType?.nameEn}}</td>
                  <td>{{item.repairRequestStatus?.nameEn}}</td>
                  <td>{{item.duration}}</td>
                  <td>{{item.createdByUser?.fullName}}</td>
                  <td>
                    <a [routerLink]="['../details', item.id]">
                      <span>
                        Details
                      </span>
                    </a> /
                    <a href="javascript:void(0)" (click)="approve(item);"><span>Approve</span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-repair-request-details-tabs #modalRepairRequestDetailsTabs></app-repair-request-details-tabs>
