<div class="row">
  <h6 class="col-md-4">Add Technician</h6>
</div>
<div class="modal-body">
  <div class="row">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
      <div class="col-md-6">
        <label data-error="wrong" data-success="right" for="technician-firstName">
          First Name
          <span style="color: red">*</span>
        </label>
        <input type="text" id="technician-firstName" [(ngModel)]="model.firstName" name="firstName" class="form-control">
      </div>
      <div class="col-md-6">
        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-lastName">
          Last Name
          <span style="color: red">*</span>
        </label>
        <input type="text" id="technician-lastName" [(ngModel)]="model.lastName" name="lastName" class="form-control">
      </div>
      <div class="col-md-12">
        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-address">
          Address
          <span style="color: red">*</span>
        </label>
        <input type="text" id="technician-address" [(ngModel)]="model.address" name="address" class="form-control">
      </div>
      <div class="col-md-6">
        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-civilIdNo">
          Civil ID No.
          <span style="color: red">*</span>
        </label>
        <input type="text" id="technician-civilIdNo" [(ngModel)]="model.civilIdNo" name="civilIdNo"
               class="form-control" (keypress)="keyPress($event)" maxlength="20">
      </div>
      <div class="col-md-6">
        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-phoneNumber">
          Phone Number
          <span style="color: red">*</span>
        </label>
        <input type="text" id="technician-phoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber"
               class="form-control" (keypress)="keyPress($event)" maxlength="15">
      </div>
      <div class="col-md-6">
        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-hourRating">
          Hour Rating
          <span style="color: red">*</span>
        </label>
        <input type="number" id="technician-hourRating" [(ngModel)]="model.hourRating" name="hourRating" class="form-control">
      </div>
      <div class="col-md-6">
        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-EmployeeId">
          Employee Id
          <span style="color: red">*</span>
        </label>
        <input type="text" id="technician-EmployeeId" [(ngModel)]="model.employeeId" name="employeeId" class="form-control">
      </div>
      <div class="col-md-6">
        <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="technician-specialty">
          Specialty
          <span style="color: red">*</span>
        </label>
        <input type="text" id="technician-specialty" [(ngModel)]="model.specialty" name="specialty" class="form-control">
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div>
    <button type="button" class="btn btn-default" (click)="onNoClick()">Close</button>
    <button type="button" (click)="saveTechnician()" class="btn btn-primary"
            [disabled]="!model.firstName || !model.lastName || !model.address || !model.civilIdNo || !model.phoneNumber || !model.employeeId || !model.specialty || !model.hourRating">
      Add
    </button>
  </div>
</div>
