<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}" style="margin-right: 10px">
  <div class="modal-dialog" style="overflow-y: scroll;max-height:85%; margin-top: 50px; margin-bottom:50px; min-width: 64%;">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h6 style="margin-left:-20px;">Repair Request Details</h6>
        <button type="button" class="close pull-right col-md-offset-7" (click)="hide()" aria-label="Close"
                style="margin-right:-20px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">

            <mat-tab-group class="demo-tab-group">
              <mat-tab label="Spare parts">
                <div class="card">
                  <div class="content">
                    <form class="col-md-12">
                      <div class="row">
                        <div class="col-sm-12">
                          <a *ngIf="allowEdit && !isCollapsedSpare"
                             (click)="openAddModeRepairRequestSparePart();"
                             class="col-md-offset-6 pull-right" [attr.aria-expanded]="!isCollapsedSpare"
                             aria-controls="collapseExample">
                            <i class="pe-7s-plus"></i> Add spare parts to this repair request
                          </a>
                        </div>
                        <div class="col-md-12">

                          <div class="row" [ngbCollapse]="!isCollapsedSpare">
                            <h6>{{lblAddEditRequestSparePartText}}</h6>
                            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm"
                                  novalidate class="col-md-12">
                              <div class="col-md-12">
                                <div class="col-md-6">
                                  <label data-error="wrong" data-success="right" for="ddlSpareParts">
                                    Spare Part <span *ngIf="editModeSparePart">ID = {{modelSparePart.sparePartId}}, Serial = {{modelSparePart.sparePart?.serialNumber}}</span>
                                    <span *ngIf="!editModeSparePart" style="color: red;">*</span>
                                  </label>
                                  <select [(ngModel)]="modelSparePart.sparePartId" name="sparePartId"
                                          id="ddlSpareParts" class="form-control"
                                          [disabled]="editModeSparePart" style="cursor: pointer;">
                                    <option *ngFor="let item of spareParts" [ngValue]="item.id">{{item.nameEn}}</option>
                                  </select>
                                </div>
                                <div class="col-md-2">
                                  <label data-error="wrong" data-success="right" for="quantity">
                                    Quantity
                                    <span style="color: red;">*</span>
                                  </label>
                                  <input type="number" id="quantity" [(ngModel)]="modelSparePart.quantity"
                                         name="quantity" class="form-control" min="0">
                                </div>
                                <div class="col-md-2">
                                  <label data-error="wrong" data-success="right" for="source">
                                    Source
                                    <span style="color: red;">*</span>
                                  </label>
                                  <select [(ngModel)]="modelSparePart.source" name="source" id="source"
                                          class="form-control" required>
                                    <option Value="Workshop"> Workshop </option>
                                    <option Value="Stores"> Stores </option>
                                  </select>
                                </div>
                                <div class="col-md-2" *ngIf="currentUserIsManager()">
                                  <label data-error="wrong" data-success="right" for="txtAmount">
                                    Total Cost
                                  </label>
                                  <input type="number" id="txtAmount" [(ngModel)]="modelSparePart.amount"
                                         name="amount" class="form-control" min="0" [disabled]="!currentUserIsManager()"
                                         style="cursor: pointer;">
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="col-md-3">
                                  <label data-error="wrong" data-success="right" for="ddlTechnicians">
                                    Technician
                                    <span style="color: red;">*</span>
                                  </label>
                                  <select [(ngModel)]="modelSparePart.technicianId" name="technicianId"
                                          id="ddlTechnicians" class="form-control">
                                    <option *ngFor="let x of technicians" [ngValue]="x.id">
                                      {{x.fullName}}
                                    </option>
                                  </select>
                                </div>
                                <div class="col-md-3">
                                  <label data-error="wrong" data-success="right" for="startDate">
                                    Technician Start Date
                                    <span style="color: red;">*</span>
                                    <input id="startDate" [(ngModel)]="modelSparePart.technicianStartDate"
                                           name="startDate" class="form-control col-md-12"
                                           [owlDateTimeTrigger]="dtStartDate" [owlDateTime]="dtStartDate"
                                           required>
                                    <owl-date-time #dtStartDate></owl-date-time>
                                  </label>
                                </div>
                                <div class="col-md-3">
                                  <label data-error="wrong" data-success="right" for="endDate">
                                    Technician End Date
                                    <span style="color: red;">*</span>
                                    <input id="endDate" [min]="modelSparePart.technicianStartDate" [(ngModel)]="modelSparePart.technicianEndDate"
                                           name="endDate" class="form-control col-md-12"
                                           [owlDateTimeTrigger]="dtEndDate" [owlDateTime]="dtEndDate"
                                           required>
                                    <owl-date-time #dtEndDate></owl-date-time>
                                  </label>
                                </div>
                                <div class="col-md-3">
                                  <label data-error="wrong" data-success="right" for="kiloMetersChangeSparePart">
                                    KM Change S.P
                                  </label>
                                  <input [(ngModel)]="modelSparePart.kiloMetersChangeSparePart" name="kiloMetersChangeSparePart"
                                         class="form-control col-md-12" id="kiloMetersChangeSparePart" type="number" />

                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="col-md-3">
                                  <label data-error="wrong" data-success="right" for="comment">
                                    Comment
                                  </label>
                                  <textarea rows="2" [(ngModel)]="modelSparePart.comments" name="comment"
                                            class="form-control col-md-12" id="comment"></textarea>

                                </div>
                              </div>
                            </form>
                            <div class="col-md-offset-6 pull-right">
                              <button type="button" class="btn btn-default" (click)="isCollapsedSpare = !isCollapsedSpare">Close</button>

                              <button type="button" (click)="saveRequestSparePart();"
                                      class="btn btn-primary" [disabled]="!modelSparePart.sparePartId ||!modelSparePart.technicianId || !modelSparePart.technicianStartDate || !modelSparePart.technicianEndDate || !modelSparePart.quantity || modelSparePart.quantity < 1">
                                {{btnAddUpdateRequestSparePartText}}
                              </button>
                            </div>
                          </div>

                          <app-repair-request-spare-parts-list #activeRepairRequestSpareParts [repairRequestId]="repairRequestId"
                                                               [showEditButton]="allowEdit && currentUserIsManager() && !isCollapsedSpare"
                                                               [showDeleteButton]="allowEdit && currentUserIsManager() && !isCollapsedSpare"
                                                               [showTotalCost]="currentUserIsManager()"
                                                               (editButtonClicked)="openEditModeRepairRequestSparePart($event)">
                          </app-repair-request-spare-parts-list>

                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Lubricants">

                <app-repair-request-materials-add-edit #ctrlRepairRequestMaterialsAddEdit
                                                       [repairRequestId]="repairRequestId"
                                                       [allowEdit]="allowEdit"
                                                       [technicians]="technicians"
                                                       [spareParts]="spareParts">

                </app-repair-request-materials-add-edit>

              </mat-tab>
              <mat-tab label="Pending spare parts">
                <div class="card">
                  <div class="content">
                    <app-repair-request-spare-parts-list #pendingRepairRequestSpareParts
                                                         [repairRequestId]="repairRequestId"
                                                         [pendingSpareParts]="true"
                                                         [showTotalCost]="currentUserIsManager()">
                    </app-repair-request-spare-parts-list>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<app-addusedMaterials #modal3></app-addusedMaterials>-->
