.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

.mat-tab-label-active {
  background-color: red;
  opacity: 1 !important;
}

.modal-content {
  overflow-y: scroll;
  height: 600px !important;
}

.modal .modal-content .modal-header {
  border-bottom: none !important;
  padding-top: 24px !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0px !important;
}

a {
  text-decoration: underline !important;
}
