<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            Amanah Teknologia, All rights reserved © {{ todayDate | date: 'yyyy'}}
        </p>
    </div>
</footer>
