.card-description {
    margin-bottom: 10%;
}

    .card-description span {
        font-size: 14px;
    }

h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

mdl-spinner {
    text-align: center !important;
    align-content: center;
    margin-left: 40%
}

.showRapair {
    color: royalblue !important;
}

.mat-expansion-panel {
    box-sizing: border-box;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: normal;
    padding: 0 24px;
    padding-top: 10px;
}

label {
    font-weight: 300;
    font-size: 13px;
}

th {
    text-align: center;
}

td {
    text-align: center !important;
}

.vehicleDetails td {
    float: left;
}
