<div class="content">
  <div class="container-fluid">
    <mdl-spinner [active]="isActive" class="text-center"></mdl-spinner>

    <div data-image="assets/img/bg5.jpg">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-6">
            <div class="alert alert-info" style="height: 50px;">
              <h5 style="margin-top: 1%;">Job Cards</h5>
            </div>
            <mat-tab-group>
              <mat-tab label="{{activeJobCardsTitle}}">
                <div class="col-md-12" style="margin-top: 2%">
                  <!--<form (submit)=searchJobCardActive()>
                    <div class="col-md-6 form-group">
                      <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search by ID or Customer name or Description"
                               [(ngModel)]="query">
                        <span class="input-group-btn">
                          <button class="btn btn-default" (click)="searchJobCardActive()"
                                  type="button" style="height: 40px;">
                            Go!
                          </button>
                        </span>
                      </div>
                    </div>
                  </form>-->
                </div>

                <div class="col-md-12">
                  <mat-accordion>
                    <table class="table text-center" style="margin-bottom: 0">
                      <thead>
                        <tr>
                          <th>Job Card Id</th>
                          <th>Description</th>
                          <th>Customer Name</th>
                          <th>Status</th>
                          <th>Details</th>
                        </tr>
                      </thead>
                    </table>

                    <p class="text-center" *ngIf="currentJobCards?.length == 0">
                      There isn't any active job cards for this vehicle.
                    </p>

                    <mat-expansion-panel *ngFor="let card of currentJobCards;let i=index;">
                      <mat-expansion-panel-header (click)="openCard(card)">
                        <mat-panel-title class="col-md-3">
                          {{card.id}}
                        </mat-panel-title>
                        <mat-panel-title class="col-md-3">
                          {{card.description}}
                        </mat-panel-title>
                        <mat-panel-title class="col-md-2">
                          {{card.vehicle.customerName}}
                        </mat-panel-title>
                        <mat-panel-title class="col-md-2">
                          {{card.jobCardStatus.nameEn}}
                        </mat-panel-title>
                        <mat-panel-title class="col-md-1">
                          View
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="row">
                        <div class="col-md-4 pl-1">
                          <div class="form-group">
                            <label>Date In</label>

                            <input id="dateIn" [(ngModel)]="cardObj.dateIn"
                                   name="dateIn" class="form-control col-md-12"
                                   [owlDateTimeTrigger]="datePicker1" [owlDateTime]="datePicker1"
                                   required placeholder="dd-mm-yyyy" readonly="readonly" style="cursor: pointer;">
                            <owl-date-time #datePicker1></owl-date-time>
                          </div>
                        </div>
                        <div class="col-md-4 pl-1">
                          <div class="form-group">
                            <label>Date Out</label>

                            <input id="dateOut" [(ngModel)]="cardObj.dateOut" [min]="dateIn"
                                   name="dateOut" class="form-control col-md-12"
                                   [owlDateTimeTrigger]="datePicker2" [owlDateTime]="datePicker2"
                                   required placeholder="dd-mm-yyyy" readonly="readonly" style="cursor: pointer;">
                            <owl-date-time #datePicker2></owl-date-time>
                          </div>
                        </div>
                        <div class="col-md-4 pl-1">
                          <div class="form-group">
                            <label>Driver</label>
                            <select [(ngModel)]="cardObj.driverId" name="driverEmployeeId"
                                    id="driverEmployeeId" class="form-control"
                                    [disabled]="!allowEditJobCard(card)" style="cursor: pointer;">
                              <option *ngFor="let x of drivers" [ngValue]="x.id">
                                {{x.fullName}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" class="form-control" name="desc"
                                      [(ngModel)]="cardObj.description" rows="2"
                                      [disabled]="!allowEditJobCard(card)" style="cursor: pointer;"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <!--<div class="col-md-8 pr-1">
                          <div class="form-group">
                            <label>Service Type</label>
                            <select [(ngModel)]="cardObj.serviceTypeId" name="serviceTypeId"
                                    id="fk_ServiceType_ID" class="form-control"
                                    [disabled]="!allowEditJobCard(card)" style="cursor: pointer;">
                              <option *ngFor="let x of serviceTypes" [ngValue]="x.id">{{x.nameEn}}</option>
                            </select>
                          </div>
                        </div>-->
                        <div class="col-md-4 px-1">
                          <div class="form-group">
                            <label>Odometer</label>
                            <input type="number" class="form-control" name="odometer"
                                   [(ngModel)]="cardObj.odometer" min="1"
                                   [disabled]="!allowEditJobCard(card)" style="cursor: pointer;">
                          </div>
                        </div>
                        <div class="col-md-4 pr-1">
                          <div class="form-group">
                            <label>Status</label>
                            <select [(ngModel)]="cardObj.jobCardStatusId" name="jobCardStatusId"
                                    id="jobCardStatusId" class="form-control"
                                    style="cursor: pointer;">
                              <option *ngFor="let x of jobCardStatuses" [ngValue]="x.id">{{x.nameEn}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4 pl-1">
                          <div class="form-group">
                            <label>Hour meter</label>
                            <input type="number" class="form-control" name="hourmeter"
                                   [(ngModel)]="cardObj.hourmeter" min="1"
                                   [disabled]="!allowEditJobCard(card)" style="cursor: pointer;">
                          </div>
                        </div>
                      </div>

                      <div class="row" [hidden]="!(cardObj.jobCardStatusId == 3 || cardObj.jobCardStatusId == 4)">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Remark</label>
                            <textarea type="text" class="form-control" name="comment"
                                      [(ngModel)]="cardObj.comment" maxlength="200" rows="2"
                                      style="cursor: pointer;"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center">
                        <div class="col-md-12">
                          <button *ngIf="commonService.currentUserIsManager"
                                  class="btn btn-danger col-md-3" (click)="delete(card.id)">
                            <i class="fa fa-close"></i>Delete
                          </button>

                          <button class="btn btn-twitter col-md-3 col-md-offset-6" (click)="updateJobCard()">
                            <i class="fa fa-save"></i>Save
                          </button>
                        </div>
                      </div>
                      <hr>
                      <div class="alert alert-info" style="height: 50px; padding-top: 15px;">
                        <a (click)="onClick(card);getRepairRequestsOfJobCard()"
                           style="text-decoration: underline;">
                          <i class="fa fa-eye"></i> Show Repair Requests
                        </a>
                      </div>
                      <div class="clearfix"></div>
                      <div class="row" [hidden]="!hideme[card.id]">
                        <div class="col-sm-12">
                          <p class="col-md-9">Repair Requests </p>
                          <a (click)="openAddRepairRequestDialog()"
                             data-toggle="modal" data-target="#modalNewrepairrequestForm"
                             style="color: deepskyblue" class="pull-right"
                             *ngIf="jobCardStatusIsInProgress(card)">
                            <i class="pe-7s-plus" style="font-size: 16px; font-weight: 600;"></i>
                            Add Repair Request
                          </a>
                        </div>
                        <p *ngIf="repairRequests?.length == 0" style="color: grey">
                          There isn't any repair request for this job card.
                        </p>
                        <div class="col-md-12" *ngIf="repairRequests?.length != 0">
                          <div class="card">
                            <div class="table-responsive">
                              <table class="table table-hover table-striped ">
                                <thead thead-dark>
                                  <tr>
                                    <th>Rep. Req. ID</th>
                                    <th>User Name</th>
                                    <th>Job Card Id</th>
                                    <th>Service Type</th>
                                    <th>Repair Type</th>
                                    <th>Status</th>
                                    <th style="width: 41%"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of repairRequests">
                                    <td>{{item.id}}</td>
                                    <td>{{item.createdByUser?.fullName}}</td>
                                    <td>{{item.jobCardId}}</td>
                                    <td>{{item.serviceType?.nameEn}}</td>
                                    <td>{{item.repairRequestType?.nameEn}}<br />({{item.external? "OSP": "Interanl"}})</td>
                                    <td>{{item.repairRequestStatus?.nameEn}}</td>
                                    <td>
                                      <a href="javascript:void(0)" (click)="modalRepairRequestDetailsTabs.showDialog(vehicleId, item.jobCardId, item.id, jobCardStatusIsInProgress(card))">
                                        <span>
                                          Details
                                        </span>
                                      </a>
                                      <a *ngIf="allowEditJobCard(card) && commonService.currentUserIsManager"
                                         href="javascript:void(0)" (click)="modalEditRepairRequest.showDialog(item)">
                                        <span>
                                          Edit
                                        </span>
                                      </a>
                                      <a *ngIf="item.external"
                                         href="javascript:void(0)" (click)="printOspRepairRequest(item.id)">
                                        <span>
                                          Print
                                        </span>
                                      </a>
                                      <a *ngIf="allowEditJobCard(card) && commonService.currentUserIsManager"
                                         href="javascript:void(0)" (click)="deleteRepairRequest(item.id)">
                                        <span>
                                          Delete
                                        </span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
              <mat-tab label="Inactive Job Card">
                <div class="col-md-12" style="margin-top: 2%">
                  <!--<form (submit)=searchJobCardInActive()>
                    <div class="col-md-6 form-group">
                      <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search by ID or Customer name or Description"
                               [(ngModel)]="query">
                        <span class="input-group-btn">
                          <button class="btn btn-default" (click)="searchJobCardInActive()"
                                  type="button" style="height: 40px;">
                            Go!
                          </button>
                        </span>
                      </div>
                    </div>
                  </form>-->
                </div>

                <div class="col-md-12">
                  <div class="card">
                    <table class="table table-hover table-striped" style="margin-bottom: 0">
                      <thead>
                        <tr>
                          <th>Job Card Id</th>
                          <th>Description</th>
                          <th>Customer Name</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let card of inactiveJobs;let i=index;">
                          <td>{{card.id}}</td>
                          <td>{{card.description}}</td>
                          <td>{{card.vehicle?.customerName}}</td>
                          <td>{{card.jobCardStatus?.nameEn}}</td>
                        </tr>
                      </tbody>
                    </table>

                    <p class="text-center" *ngIf="inactiveJobs?.length == 0">
                      There isn't any job cards for this vehicle.
                    </p>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>

          <div class="col-md-3">
            <app-vehicle-details [vehicleObj]="vehicleObj"></app-vehicle-details>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-repair-request-edit #modalEditRepairRequest (onSuccessfulUpdate)="getRepairRequestsOfJobCard()"></app-repair-request-edit>
<app-repair-request-details-tabs #modalRepairRequestDetailsTabs></app-repair-request-details-tabs>
