﻿<div class="row">
    <h6>Add repair request type</h6>
</div>

<div class="row">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="col-md-12">
        <div class="col-md-12">
            <label data-error="wrong" data-success="right" for="repairrequesttypename_EN">
                Name
                <span style="color: red">*</span>
            </label>
            <input type="text" id="repairrequesttypename_EN" [(ngModel)]="model.nameEn" name="repairrequesttypename_EN"
                   maxlength="100" class="form-control">
        </div>
        <div class="col-md-12">
            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="repairrequesttypename_AR">
                الاسم
                <span style="color: red">*</span>
            </label>
            <input type="text" id="repairrequesttypename_AR" [(ngModel)]="model.nameAr" name="repairrequesttypename_AR"
                   maxlength="100" class="form-control">
        </div>
        <div class="col-md-12" style="margin-top:5px;margin-bottom:1px;">
            <label>
                <input type="checkbox" [(ngModel)]="model.needApprove" name="needApprove" [checked]="model.needApprove" />
                Need Approve. (The manager should approve any repair request of this type)
            </label>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="closeButtonClick()">Close</button>
        <button type="button" (click)="saveRepairRequestType()" class="btn btn-primary" [disabled]="!model.nameEn || !model.nameAr">Add </button>
    </div>
</div>