<div class="main-content">
  <div class="container-fluid">
    <h4 class="title">Damage Memo Reports</h4>
    <div class="row">
      <button (click)="openAddDamageMemoDialog()" class="btn btn-primary" data-toggle="modal"
              style="margin: 5px;">
        <i class="fa fa-plus"></i>Add Damage Memo Report
      </button>

      <button type="submit" class="btn btn-default" (click)="searchDamageMemos()" style="margin: 10px;">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </button>
    </div>
    <div id="print-section" *ngIf="damageMemos?.length > 0">

      <div class="row">
        <mdl-spinner [active]="showLoading" class="text-center"></mdl-spinner>
        <div class="col-md-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead thead-dark>
                  <tr>
                    <th>ID</th>
                    <th>Creation Date</th>
                    <th>Employee Type</th>
                    <th>Employee Name</th>
                    <th>Memo Ref.</th>
                    <th>Vehicle ID</th>
                    <th>Vehicle Fleet No.</th>
                    <th>Foreman Name</th>
                    <th>Spare Part # 1</th>
                    <th>Spare Part # 2</th>
                    <th>Spare Part # 3</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of damageMemos">
                    <td>{{item.id}}</td>
                    <td>{{item.creationDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ getEmployeeType(item) }}</td>
                    <td>{{ getEmployeeName(item) }}</td>
                    <td>{{item.damageMemoRef}}</td>
                    <td>{{item.vehicleId}}</td>
                    <td>{{item.vehicle?.fleetNumber}}</td>
                    <td>{{item.foremanName}}</td>
                    <td>{{item.sparePart1Name}}</td>
                    <td>{{item.sparePart2Name}}</td>
                    <td>{{item.sparePart3Name}}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="printDamageMemoReport(item.id)">
                        <span>Print</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div>Total Rows = {{this.damageMemos.length}}</div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <b *ngIf="showNoDataFoundLabel">No damage memo found.</b>
  </div>
</div>
