<div class="main-content">
  <div class="container-fluid">
    <h4 class="title">Cannibalization Reports</h4>
    <div class="row">
      <button (click)="openAddCannibalizationDialog()" class="btn btn-primary" data-toggle="modal"
              style="margin: 5px;">
        <i class="fa fa-plus"></i>Add Cannibalization
      </button>

      <button type="submit" class="btn btn-default" (click)="searchCannibalizations()" style="margin: 10px;">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </button>
    </div>
    <div id="print-section" *ngIf="cannibalizations?.length > 0">

      <div class="row">
        <mdl-spinner [active]="showLoading" class="text-center"></mdl-spinner>
        <div class="col-md-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead thead-dark>
                  <tr>
                    <th>Cann. ID</th>
                    <th>Fixing Date</th>
                    <th>Removal Vehicle</th>
                    <th>Vehicle To</th>
                    <th>Supervisor Comments</th>
                    <th>Re-fixing</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cannibalizations">
                    <td>{{item.id}}</td>
                    <td>{{item.fixingDate | date: 'dd/MM/yyyy'}}</td>

                    <td>
                      Veh.Fleet-No: {{item.vehicleFrom?.fleetNumber}}<br />
                      Regn-No: {{item.vehicleFromRegnNo}}<br />
                      Tech: {{item.technicianRemovedBy?.fullName}}
                    </td>

                    <td>
                      Veh.Fleet-No: {{item.vehicleTo?.fleetNumber}}<br />
                      Regn-No: {{item.vehicleToRegnNo}}<br />
                      Tech: {{item.technicianFixedBy?.fullName}}
                    </td>

                    <td>{{item.supervisorComments}}</td>

                    <td>
                      Date: {{item.refixingDate | date: 'dd/MM/yyyy'}}<br />
                      Tech: {{item.technicianRefixedBy?.fullName}}
                    </td>
                    <td>
                      <a href="javascript:void(0)" (click)="printCannibalizationReport(item.id)">
                        <span>Print</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div>Total Rows = {{this.cannibalizations.length}}</div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <b *ngIf="showNoDataFoundLabel">No cannibalizations found.</b>
  </div>
</div>
