body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

    *[role="form"] h2 {
        margin-left: 5em;
        margin-bottom: 1em;
    }

.modal .modal-content .modal-body {
    padding-right: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    padding-left: 12px !important;
    line-height: 1.9;
}
