<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h6>Edit User</h6>
                <button type="button" class="close pull-right col-md-offset-9" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form novalidate class="col-md-12">
                        <div class="col-md-12">
                            <label data-error="wrong" data-success="right" for="firstName">
                                First Name
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" [(ngModel)]="model.firstName" placeholder="First Name" name="firstName"
                                   class="form-control" id="firstName">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="lastName">
                                Last Name
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" [(ngModel)]="model.lastName" name="lastName" placeholder="Last Name"
                                   class="form-control" id="lastName">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="phoneNumber">
                                Phone Number
                                <span style="color: red">*</span>
                            </label>
                            <input type="text" [(ngModel)]="model.phoneNumber" name="phoneNumber" placeholder="Phone Number"
                                   class="form-control" required (keypress)="keyPress($event)"
                                   minlength="8" maxlength="15" id="phoneNumber">
                        </div>

                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="email">
                                Your email
                                <span style="color: red">*</span>
                            </label>
                            <input type="email" [(ngModel)]="model.email" name="email" class="form-control" id="email">

                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="userName">
                                User Name
                            </label>
                            <input type="text" [(ngModel)]="model.userName" name="userName" placeholder="User Name"
                                   class="form-control" id="userName" readonly="readonly">
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top:5px; margin-bottom:1px;" data-error="wrong" data-success="right" for="roleNames">
                                Role
                                <span style="color: red">*</span>
                            </label>
                            <select [(ngModel)]="model.roleNames" name="roleNames" id="roleNames" class="form-control" required
                                    >
                                <option value="0" disabled>Choose role of user</option>
                                <option *ngFor="let item of roles" [ngValue]="item.name">{{item.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
                    <button type="button" (click)="updateUser()" class="btn btn-primary" [disabled]="!model.firstName || !model.lastName
                        || !model.phoneNumber || !model.email || !model.roleNames">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
