<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="title">Technicians</h4>
            <div class="col-md-12">
                <mat-card>
                    <mat-card-content>
                        <mat-tab-group>
                            <mat-tab label="Technicians">
                                <app-technicians-list></app-technicians-list>
                            </mat-tab>
                            <mat-tab label="Availability">
                                <app-technician-man-power></app-technician-man-power>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>